@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

a{text-decoration:none;color:#000; text-decoration:underline;}
a:hover{text-decoration:underline;color:rgb(240, 185, 11);}

input[type=text]:focus,input[type=email]:focus,input[type=password]:focus, textarea:focus{ border: 1px solid #6c6c6c; }

input[type=submit]{
background: #F0B90B;
color:#000;
font-weight:bold;
}
input[type=submit]:hover{
background: #2a2a2a;
color:#fff;
}
input[type=submit]:disabled {
    background: #cec09178;
cursor: default;}
.cl-yellow{
	color:#F0B90B;
}

.bg-yellow{
	background-color:#F0B90B;
	color:#000;
}

#header{
background: #000;
}
	.hicon.icq{
	background: url(images/icq2.png) no-repeat 0 0;
	}
	.hicon.skype{
	background: url(images/skype2.png) no-repeat 0 0;
	}
	.hicon.telegram{
	background: url(images/telegram2.png) no-repeat 0 0;
	}
	.hicon.viber{
	background: url(images/viber2.png) no-repeat 0 0;
	}
	.hicon.whatsup{
	background: url(images/whatsapp2.png) no-repeat 0 0;
	}
	.hicon.jabber{
	background: url(images/jabber2.png) no-repeat 0 0;
	}		
	.hicon.email{
	background: url(images/email2.png) no-repeat 0 0;
	}

.topmenu li > a{
	font-weight:bold;
	color: #000;
}
.topmenu li:hover > a, .topmenu li.current-menu-item > a{
	color: #000;
    font-weight: bold;
    background: #F0B90B url(images/marr3.png) no-repeat center bottom;
    border-bottom: 2px solid #2a2a2a;
}
.topmenu ul ul{
background: #2a2a2a;
}
.topmenu ul ul ul{
border-left: 1px solid #3d3d3d;
}

.text ul li{background:url(images/wliarr3.png) no-repeat 0 3px;}
.text ol{color:#2a2a2a;}
.hometext ul li, .fcwidget ul li{background:url(images/wliarr3.png) no-repeat 0 3px;}
.hometext ol, .fcwidget ol{color:#2a2a2a;}

.metabox{
color: #6c6c6c;
}
.metaboxleft{background: url(images/bo3.png) no-repeat 0 1px;}

.sitemaptitle, .tariftitle{
background: #b4b4b4;
}
ul.smap li{ background:url(images/wliarr3.png) no-repeat 0 3px; }
.tavnstr div{
background: url(images/wliarr3.png) no-repeat center center;
}

.lobmlinepr{
background: url(images/wliarr3.png) no-repeat 0 30px;
}	
.exchboxtool{
background: #2a2a2a;
}
.exchboxtoolvnug{
background: url(images/ug3.png) no-repeat;
}
.zaprosvalutrelvn{
color: #3498db;
}
	.zaprosvalutrelvn span{
	color: #3498db;
	border-bottom: 1px dotted #3498db;
	}

.widget ul li{
background:url(images/wliarr3.png) no-repeat 0 3px;
}

.statuswork_widgetvn{
background: url(images/online3.png) no-repeat 0 0;
}
.offline .statuswork_widgetvn{
background: url(images/offline3.png) no-repeat 0 0;
}

.bexbcurs_arr{
background: url(images/wliarr3.png) no-repeat 0 5px;
}
	
.pagenavi span{
background: #6c6c6c;
}	

.partners_div{
background: #6c6c6c; 
}	
	
.footer_right ul li a{
color: #3498db;
text-decoration: none;
}
	.footer_right ul li a:hover{
	text-decoration: underline;
	}	
	
.head_phone{
	color:#F0B90B;
}

.topmenu, .header, .content {
    width: 1080px;
}
#container{
	    min-width: 1180px;
}
.contentzone {
    float: left;
    width: 795px;
}

.thecontent {
    margin: 0 0 30px 0;
    background: #fff;
    border-radius: 4px;
    padding: 25px 30px;
    box-shadow: 0 0px 29px rgba(0, 0, 0, 0.08);
}

.sidebar > div, .topmenu, .homeobmentable, .hometext {
	box-shadow: 0 0px 29px rgba(0, 0, 0, 0.08);
}

.promouserdiv h3, .promouserdiv h4, .paytable_title{
	color:#000;
}
.stattabledivvn, .statuserdivvn, .usstatdivvn{
	background-color: #000;
}
.widget_reviews_div .widget_title {
    margin: -25px -30px 0;
    padding: 20px 30px;
    font: 600 18px/20px 'Open Sans';
    color: #000000;
    border-bottom: 1px solid #ebebeb;
}

.login_widget a{
	    font-size: 12px;
}

.footer_right ul li a{
	color:#fff;
}

.sitemaptitle, .tariftitle {
    background: #000000;
}

a.onehrine.active .onehrinetext, a.onehrine:hover .onehrinetext {
    color: #e6b20c;
}

.onehline:hover .onehlinetext, .onehline.act .onehlinetext {
    color: #e6b20c;
}

.zaprosvalutrelvn {
    color: #000000;
	border-color:#000;
}

a.onehrine.active .onehrinerezerv, a.onehrine:hover .onehrinerezerv {
    color: #f0b90b;
}


body {
    font: 16px/1.5em 'Exo 2', sans-serif;
    color: #333;
    background: #fafafa;
}

.textlogo {
    padding: 17px 0 4px 73px;
    background: url(images/dlogo.png) no-repeat 0 3px;
    color: #fff;
    font: 700 30px/40px 'Exo 2',  sans-serif;
    background-size: contain;
}
.obmenlinetext {
    color: #393f4f;
    float: left;
    width: 120px;
    font: 300 13px 'Exo 2';
}

table.tariftable td{
	 font: 300 13px 'Exo 2';
}