﻿/*  
Theme Name: ExchangeBoxTheme 2.0
Theme URI: http://best-curs.info
Description: Шаблон для Exchangebox
Version: 7.0
Author: Best-curs.info
Author URI: http://best-curs.info
*/

*{margin:0;padding:0;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: scroll;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table{border-collapse:collapse;border-spacing:0; vertical-align: middle;}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}

a:focus,
a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

ins{text-decoration:none;}
del{text-decoration:line-through;}

sup {font-size:.7em;vertical-align: top;}
sub {font-size:.7em;vertical-align: bottom;}
small {font-size: 10px;}
strong,dfn,dl dt,th,b{font-weight:600}

h1, h2, h3, h4, h5, h6{ font-weight: normal;}

select,input,textarea{
padding:0;
margin:0;
outline:0;
font-size:100%;
vertical-align:baseline;
}

button, input[type=submit]{padding:0; margin:0; outline:0; font-size:100%; vertical-align:baseline; -webkit-appearance: none;} 

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

a{text-decoration:none;color:#0ca4a3;}
a:hover{text-decoration:underline;color:#0ca4a3;}

body{
font: 12px/1.5em 'Open Sans', sans-serif;
color: #545454;
background: #ebebeb;
}

#container{
width: 100%;
min-width: 1000px;
position: relative;	
}

.headline{
background: #2a2a2a;
height: 8px;
width: 100%;
min-width: 1000px;
}

/* wclose */
.wclosearea{
padding: 5px 0;
background: #e63f3f;
box-shadow: 0 0 5px #000;
}
	.wclosearea_ins{
	width: 960px;
	margin: 0 auto;
	min-height: 20px;
	position: relative;
	}
	.wclosearea_hide{
	position: absolute;
	float: none;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(images/wclose.png) no-repeat center center;
	border-radius: 3px;
	}
		.wclosearea_hide.active{
		background: #fff url(images/ajax-loader.gif) no-repeat center center;	
		}
	.wclosearea_text{
	padding: 2px 30px 0 26px;
	background: url(images/warning.png) no-repeat 0 3px;
	color: #fff;
	font: 13px 'Open Sans', sans-serif;
	text-shadow: 1px 1px 1px #b83232;
	}
		.wclosearea_text a{
		color: #fff;
		text-decoration: underline;
		}
			.wclosearea_text a:hover{
			text-decoration: none;
			} 	
/* end wclose */

/* form formatting */
input[type=text],input[type=email],input[type=password]{
border: 1px solid #e2e2e2;
background:#fff;
border-radius: 3px;
height: 40px;
width: 200px;
padding: 0 10px;
-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
			transition: all 0.3s linear; 
box-sizing: border-box;
    -moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box;
color: #545454;
font: 13px/40px 'Open Sans', sans-serif;	
}
input[type=text]:disabled,input[type=email]:disabled,input[type=password]:disabled{
border: 1px solid #dadada;
background: #eaeaea;
color: #ccc;
}
textarea{
border: 1px solid #e2e2e2;
background: #fff;
border-radius: 3px;
width: 100%;
max-width: 100%;
min-width: 100%;
height: 150px;
min-height: 150px;
padding: 15px;
-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
			transition: all 0.3s linear; 
box-sizing: border-box;
    -moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box;
color: #545454;
font: 13px 'Open Sans', sans-serif;	
}

input[type=text]:focus,input[type=email]:focus,input[type=password]:focus, textarea:focus{ border: 1px solid #00cccb; }

.err input[type=text],
.err input[type=email],
.err input[type=password], 
.err textarea{
border:1px solid #ff7f66;
color:#ff7f66;
}

select{
border: 1px solid #e2e2e2;
background: #fff;
border-radius: 3px;
width: 200px;
padding: 9px 10px; 
box-sizing: border-box;
    -moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box;
color: #545454;
font: 13px 'Open Sans', sans-serif;	
}

input[type=submit]{
-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
			transition: all 0.3s linear; 
box-sizing: border-box;
    -moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box;
-webkit-appearance: none;
border: none;
background: #00cccb;
border-radius: 4px;
height: 40px;
font: 300 14px/40px 'Open Sans', serif;
text-transform: uppercase;
color: #fff;
padding: 0 30px;
cursor: pointer;
text-decoration: none;
}
	input[type=submit]:hover{
	background: #0ca4a3;
	}
	input[type=submit]:disabled{
	background: #ff7a6d;
	cursor: default;
	}
	input[type=submit].rsubmitdel{
	background: #ff7a6d;
	}
	input[type=submit].rsubmitdel:hover{background: #fe5544;}
 
.checkbox{cursor:pointer;background:url(images/checkbox.png) no-repeat 0 1px; font: 13px/18px 'Open Sans', sans-serif; padding: 0px 0 2px 25px;}
.checkbox input{ display: none; }
.checkbox.act{background:url(images/checkbox.png) no-repeat 0 -183px;}
/* end form formatting */

/* captcha */
.captchablock{
width: 200px;
margin: 0 0 10px 0;
}
	.captchalabel{
	font-size: 13px;
	font-weight: 600;
	line-height: 13px;
	margin: 0 0 5px 0;
	}
	.captchatext{
	font-size: 11px;
	}	
	.captchline{
	float: left;
	width: 40px;
	height: 40px;
	}
		.captchline img{
		width: 38px;
		height: 38px;
		border: 1px solid #ccc;
		border-radius: 3px;
		}
	.captchznak{
	float: left;
	width: 30px;
	height: 40px;
	text-align: center;
	font-size: 30px;
	line-height: 42px;
	}
	.captchinput input{
	float: left;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 40px;
	padding: 0 10px;
	height: 40px;
	text-align: center;
	background: #fff;
	}
/* end captcha */

/* header */
#header {
position: relative;
z-index: 30;
background: #00cccb;
padding: 28px 0 28px 0;
width: 100%;
min-width: 1000px;
}
	.header {
	width: 960px;
	margin: 0 auto;
	color: #fff;
	}
		.logo{
		float: left;
		width: 400px;
		padding: 12px 0 0 0;
		}
			.textlogo{
			padding: 0 0 0 70px;
			background: url(images/dlogo.png) no-repeat 0 3px;
			color: #fff;
			font: 100 40px/40px 'Open Sans', sans-serif;
			}
				.textlogo a, .textlogo a:hover{
				color: #fff;
				text-decoration: none;
				}
			.logodescr{
			padding: 7px 0 0 73px;
			color: #fff;
			font: 12px 'Open Sans', sans-serif;
			}
		.head_right{
		float: right;
		width: 525px;
		}
			.head_righttop{
			padding: 0 0 25px 0;
			}
				.hicon{
				color: #fff;
				font: 14px/27px 'Open Sans', sans-serif;
				height: 27px;
				padding: 0 0 0 40px;	
				float: left;
				margin: 0 35px 0 0;
				}
					.hicon.icq{
					background: url(images/icq.png) no-repeat 0 0;
					}
					.hicon.skype{
					background: url(images/skype.png) no-repeat 0 0;
					}
					.hicon.telegram{
					background: url(images/telegram.png) no-repeat 0 0;
					}
					.hicon.viber{
					background: url(images/viber.png) no-repeat 0 0;
					}
					.hicon.whatsup{
					background: url(images/whatsapp.png) no-repeat 0 0;
					}
					.hicon.jabber{
					background: url(images/jabber.png) no-repeat 0 0;
					}		
					.hicon.email{
					background: url(images/email.png) no-repeat 0 0;
					margin: 0;
					}
					.hicon a{
					color: #fff;
					text-decoration: underline;
					}
						.hicon a:hover{
						text-decoration: none;
						}
				.head_worktime{
				float: left;
				width: 220px;
				padding: 0 20px 0 0;
				font: 12px 'Open Sans';
				color: #fff;
				}
				.head_phone{
				float: right;
				background: url(images/tel.png) no-repeat 0 3px;
				padding: 0 0 0 25px;
				font: 26px/26px 'Open Sans';
				color: #fff;
				}	
/* end header */

#cwrap{
padding: 40px 0 0 0;
}

/* top menu */
#menutopped{
width: 100%;
min-width: 1000px;
position: relative;
z-index: 100;
height: 98px;
}
	#topmenu{
	position: absolute;
	width: 100%;
	min-width: 1000px;
	height: 60px;
	}
		.topmenu{
		width: 960px;
		margin: 0 auto;
		height: 60px;
		background: #ffffff;
		border-radius: 4px;
		box-shadow: 0 2px 4px #c4c2c2;
		}
.topmenu li{
float: left;
position: relative;
height: 61px;
padding: 0;
margin: 0;
}
	.topmenu li.first_menu_li a{
	border-radius: 4px 0 0 4px;
	}
	.topmenu li a{
	float: left;
	height: 60px;
	font: 100 18px/60px 'Open Sans';
	background: none;
	color: #545454;
	padding: 0 34px;
	text-decoration: none;
	}
		.topmenu li:hover > a, .topmenu li.current-menu-item > a{
		color: #fff;
		text-decoration: none;
		background: #00cccb url(images/marr.png) no-repeat center bottom;
		height: 58px;
		border-bottom: 2px solid #0ca3a2;
		}
		.topmenu ul ul{
		position:absolute;
		float:none;
		display:none;
		top: 60px;
		left: 0px;
		background: #0ca3a2;
		padding: 10px 0px;
		height: auto;
		width: 235px;
		border-radius: 0 0 4px 4px;
		margin: 0;
		box-shadow: none;
		}
			.topmenu ul ul li{
			float:none;
			display:block;
			position:relative;
			height:auto;
			width: 235px;
			padding: 0 5px 0 0;
			margin: 0;
			}
				.topmenu ul ul li > a, .topmenu ul ul li.current-menu-item > a{
				float: none;
				display: block;
				height: auto;
				padding: 7px 30px 7px 30px;
				font: 100 14px 'Open Sans';
				background: none;
				color: #fff;
				text-decoration: none;
				border-bottom: none;
				}
					.topmenu ul ul li:hover > a{
					color: #fff;
					text-decoration: none;
					background: #444444;
					height: auto;
					border-bottom: none;
					}
					.topmenu ul ul ul{position:absolute; display:none; float:none; top: -10px; left: 235px;height:auto; border-left: 1px solid #27b6b5;} 
/* end top menu */

/* content zone */
.content{ width: 960px; padding: 0px 0 80px; margin:0 auto; min-height:450px; position:relative; z-index:20; }
	.contentzone{ float: left; width: 670px; }
	.sidebar{ float: right; width: 260px; } 
/* end content zone */

/* page */
.thecontent{
margin:0 0 30px 0;
background:#fff;
border-radius:4px;
padding: 25px 30px;
box-shadow: 0 2px 4px #c4c2c2;
}
h1.titlepage{
font: 600 24px/26px 'Open Sans';
color: #929292;
margin: 0 0px 25px 0px;
}
	
.text p{padding:0 0 20px 0;}
.text h1{font: 600 22px 'Open Sans'; color:#929292; margin:0 0 10px 0;}
.text h2{font: 600 18px 'Open Sans'; color:#929292; margin:0 0 10px 0;}
.text h3{font: 600 15px 'Open Sans'; color:#929292; margin:0 0 10px 0;}
.text h4{font: 100 14px 'Open Sans'; color:#ff7f66; margin:0 0 10px 0;}

.text ul{margin:0 0 20px 20px;}
.text ul ul{margin: 0 0 0px 20px; padding: 10px 0 0 0;}
.text ul li{display:block;background:url(images/wliarr.png) no-repeat 0 3px;padding:0 0 5px 15px;}
.text ol{list-style-type:decimal;margin:0 0 20px 40px;color:#ff7f66;}
.text ol ol{margin:0 0 0px 40px; padding: 10px 0 10px 0;}
.hometext ul, .fcwidget ul{margin:0 0 10px 20px; padding:10px 0 0 0;}
.hometext ul li, .fcwidget ul li{display:block; background:url(images/wliarr.png) no-repeat 0 3px;padding:0 0 5px 15px;}
.hometext ol, .fcwidget ol{list-style-type:decimal; margin:0 0 10px 40px;padding:10px 0 0 0;color:#ff7f66;}

.text table{border:none; margin:0 0 20px;}
.text table th{font: 600 18px 'Open Sans';color:#929292;padding: 10px 15px;background:#f5f5f5;text-align:left; border-top: 1px solid #ebebeb;}
.text table td{font: 100 14px 'Open Sans'; padding:10px 15px;text-align:left; border-bottom:1px solid #ebebeb;}
/* end page */

/* home text */
.hometexttop{
background:#fff;
border-radius:4px;
padding: 25px 30px 5px;
box-shadow: 0 2px 4px #c4c2c2;
color:#484747;
margin: 0 0 30px 0;
}
.hometext{
background:#fff;
border-radius: 4px;
padding: 25px 30px 10px;
box-shadow: 0 2px 4px #c4c2c2;
}
.hometext_ins{padding:0 0 20px 0;color:#484747;}
.hometext_title{margin:0 0 25px 0;}
.hometext_title_ins{
font: 600 24px/26px 'Open Sans';
color: #929292;
}
.hometext p{padding: 0 0 10px 0;}
/* end home text */

/* posts */
.manynews{
border-top: 1px solid #ebebeb;
margin: 0 -30px 20px;
padding: 0 30px;
}
.posts{
padding: 15px 30px;
margin: 0 -30px;
border-bottom: 1px solid #ebebeb;
}
h2.poststitle{font: 300 18px 'Open Sans'; margin:0 0 20px 0;}
	.poststitle a{text-decoration:none; }
	.poststitle a:hover{text-decoration:underline;}
.postsexcerpt{
margin: 0 0 15px 0;
}
.metabox{
font: 12px 'Open Sans';
color: #0ca4a3;
}
.onepostdate{float: left;}

.metaboxleft{float:left; padding: 0 0 0 15px; margin: 0 0 0 15px; background: url(images/bo.png) no-repeat 0 1px;}

a.mores{float:right;text-align:right; text-decoration:underline;}
	a.mores:hover{text-decoration:none;}
/* end posts */

/* reviews */
.otzivdiv{ 
margin: 0 0 30px 0;
}
.manyotzivs{border-bottom:1px solid #e0e8ed;margin:0 0 30px 0;}
.oneotziv{padding:15px 0 15px 0;border-top:1px solid #e0e8ed;}
.nootziv{padding:15px 0 15px 0;border-top:1px solid #e0e8ed;}
.oneotzivleft{float:left;width: 150px;overflow:hidden;}
.oneotzivright{float:right;width: 460px;}
.oneotzivright p{padding:3px 0;}
.oneotdate{color:#484747;padding:0 0 3px 0;}
.oneotname{color:#589500;}
/* end reviews */

/* form */
.log_label, .lp_label, .reg_label, .cf_label, .acf_label, .rf_label{
margin: 0;
padding: 0 0 3px;
font: 600 13px 'Open Sans', sans-serif;
color: #252927;
}	
.log_line, .lp_line, .reg_line, .cf_line, .acf_line, .rf_line{
padding: 8px 0;
}	
	.log_line_subm_left, .reg_line_subm_left{
	float: left;
	}
	.log_line_subm_right{
	float: left;
	margin: 0 0 0 20px;
	}
		.log_line_subm_right p{
		padding: 1px 0;
		}
			.reg_line_subm_right{
			float: left;
			margin: 11px 0 0 20px;
			}		
/* end form */

/* contact form */
.cf_div_wrap, .log_div_wrap, .lp_div_wrap, .reg_div_wrap{
margin: 0 0 20px 0;
}
/* end contact form */

/* account */
.accounttitle{
font: 600 20px 'Open Sans';
margin:0 0 10px 0;
}
table.aftable{
width: 100%;
border: none;
background: none;
}
table.aftable td.afleft{
width: 100px;
padding: 5px;
border: none;
background: none;
}
table.aftable td.afright{
padding: 5px;
border: none;
background: none;
}
.accounttopblock{
margin: 0 0 20px 0;
}
.accountwarn{padding:2px 0 0 0;font: 12px 'Open Sans'; color:#e74b4b; display:none;}
.err .accountwarn{display:block;}
/* end account */

/* promo */
#promotopmenu{
margin: 0 0 20px 0;
}
    #promotopmenu ul{
	margin: 0;
	list-style: none;
	padding: 0;
	}
    #promotopmenu li{
	display: inline;
	padding: 0;
	margin: 0 5px 0 0;
	background: none;
	}
	#promotopmenu a{
	margin: 0;
	padding: 0;
	font: 600 12px 'Open Sans';
	}
	    #promotopmenu a:hover{
        color: #ff0000;
	    }
	    #promotopmenu li.current a{
	    text-decoration: none;
		color: #000;
	    }
.promotextwarning{
margin: 0 0 20px 0;
}
    .onepromotxt{
	margin: 0 0 10px 0;
	font: italic 600 12px 'Open Sans';
	}
	.onepromotxttext{
	margin: 0 0 30px 0;
	}
	.ptextarea{
	margin: 0;
	padding: 3px 5px;
	background: #fff;
	color: #6d6d6d;
	font: 13px 'Open Sans';
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	width: 100%;
	min-width: 100%;
	max-width: 100%;	
    height: 50px;
	box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
	}
	    .onepromotxttext .ptextarea{ height: 100px; }
	textarea.ptextareaus{
	margin: 0 0 20px 0;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
    height: 80px;
	min-height: 80px;
	}		
#promomenu{
margin: 0 0 20px 0;
}
    #promomenu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	}
    #promomenu ul li{
	display: inline;
	margin: 0 5px;
	padding: 0;
	background: none;
	}
	#promomenu ul li a{
	position: relative;
	margin: 0;
    border-bottom: 1px dotted #09344b;
    color: #09344b;
	text-decoration: none;
	}
	#promomenu ul li a:hover{
	position: relative;
	margin: 0;
    border-bottom: 1px dotted #ff0000;
    color: #ff0000;
	text-decoration: none;
	}
	#promomenu ul li.act a{
	position: relative;
	margin: 0;
    border-bottom: none;
    color: #000;
	text-decoration: none;
	}
	.pbcontainer{
	display: none;
	}
	    .pbcontainer.act{
		display: block;
		}
		.prevbanner{
		margin: 0 0 5px 0;
		}
		.bannerboxone{
		margin: 0 0 20px 0;
		}	
        .bannerboxlink{
        margin: 0 0 5px 0;
        }
		.bannerboxlink a{
	    position: relative;
	    margin: 0;
        border-bottom: 1px dotted #09344b;
        color: #09344b;
	    text-decoration: none;		
		}
	    .bannerboxlink a.act{
	    position: relative;
	    margin: 0;
        border-bottom: 1px dotted #000;
        color: #000;
	    font-weight: bold;
	    text-decoration: none;
	    }			
	    .bannerboxlink a:hover, .bannerboxlink a.act:hover{
	    position: relative;
	    margin: 0;
        border-bottom: 1px dotted #ff0000;
        color: #ff0000;
	    text-decoration: none;
	    }
	.bannerboxone textarea{
	display: none;
    height: 100px;
	min-height: 100px;
	}		
/* end promo */

/* userobmen */
.usstatdivvn{
width: 275px;
margin: 0 0 30px 0;
padding: 15px;
border-radius: 4px;
background: #00cccb;
}
table.usstattable{
border: none;
width: 100%;
}
table.usstattable th{padding:5px 10px;text-align:left;background:none;color:#fff;}
table.usstattable td{padding:5px 10px;text-align:right;background:none; color: #fff;}

.usobmendiv{
margin: 0 0 30px 0;	
}
table.usobmentable {border:none; width: 100%;}
table.usobmentable  th{font: 600 16px 'Open Sans';color:#929292;padding: 10px 5px;background:#f5f5f5;text-align:left; border-top: 1px solid #ebebeb;}
table.usobmentable td{font: 12px 'Open Sans'; padding:10px 5px;text-align:left; border-bottom:1px solid #ebebeb;}
 
table.usobmentable td.noitems{
text-align: center;
font: 600 12px 'Open Sans';
}
a.uostat{
text-decoration: none;
color: #545454;
}
a.uostat:hover{
text-decoration: underline;
}
a.uostat.bt_success{
text-decoration: none;
color: #ff7f66;
}
/* end userobmen */

/* partnerstats */
.stattablediv{
overflow: hidden;
margin:0 0 30px 0;	
}
.stattabledivvn{
padding: 20px;
border-radius: 4px;
background: #00cccb;
float: left;	
}
table.stattable{
border: none;
}
table.stattable th{padding:5px 10px;text-align:left;background:none;color:#fff;}
table.stattable td{padding:5px 10px;text-align:right;background:none; color: #fff;}

.statuserdiv{
overflow: hidden;
margin:0 0 20px 0;	
}
.statuserdivvn{
float: left;		
padding: 20px;
border-radius: 4px;
background: #00cccb;	
}
table.statusertable{
border:none;
}
table.statusertable th{
font: 100 20px 'Open Sans';
color: #fff;
padding: 5px 10px;text-align:left;
}
table.statusertable td{font:12px 'Open Sans';padding: 10px 10px;text-align:left; color: #fff; border-bottom:1px solid #fff;}
table.statusertable td.stusright{ text-align: right; font-weight: 600; color: #fff;}
.promouserdiv h3{
font: 18px 'Open Sans';
color: #00cccb;
margin:0 0 10px 0;
}
.promouserdiv h4{
font: 16px 'Open Sans';
color: #00cccb;
margin:0 0 10px 0;
}
.promouserdiv p{
padding:0 0 20px 0;
}
/* end partnerstats */

/* payments */
.payments_minitext{
border-radius: 4px;
margin: 0 0 20px 0;
padding: 15px 20px;
font: 13px 'Open Sans';
background: #f5f5f5;
border: 1px solid #ebebeb;
}
    .paymin{
	color: #ff0000;
	font-weight: bold;
	}
	.exbpayform{
	margin: 0 0 15px 0;
	}
	.paydiv{
	margin: 0 0 20px 0;	
	}
	table.exbpaytable{
	border: 1px solid #ebebeb;
	border-radius: 3px;
	padding: 10px;
	border-collapse: separate;
	width: 100%;
	}
	    table.exbpaytable  td{
		vertical-align: top;
		padding: 5px 5px;
		border: none;
		}
		.ptlabel{
		padding: 10px 0 0 0;
		}
		.ptschet{
		padding: 10px 0 0 0;
		}
		    .ptschet input{
			width: 210px;
			}
			td.ptwebmoney{
			width: 240px;
			}
.paytable_title{
font: 20px 'Open Sans';
color: #00cccb;
margin: 0 0 15px 0;
}			

table.paytablearchive {border:none; width: 100%;}
table.paytablearchive  th{font: 600 16px 'Open Sans';color:#929292;padding: 10px 5px;background:#f5f5f5;text-align:left; border-top: 1px solid #ebebeb;}
table.paytablearchive td{font: 100 12px 'Open Sans'; padding:10px 5px;text-align:left; border-bottom:1px solid #ebebeb;}
table.paytablearchive td.noitems{
text-align: center;
font: bold 12px 'Open Sans';
}
.ptvaluts{ font-weight: bold; }
/* end payments */

/* sitemap */
.sitemaptitle{
font: 300 18px 'Open Sans';
color: #fff;
float: left;
padding: 5px 15px;
border-radius: 4px;
background: #00cccb;
margin:0 0 15px 0;
}
ul.smap{
margin:0 0 20px 20px;
}
ul.smap li{ display:block;background:url(images/wliarr.png) no-repeat 0 3px;padding:0 0 5px 15px; }
.sitemapleft{float:left;width:300px;overflow:hidden;}
.sitemapright{float:right;width:300px;overflow:hidden;}
/* end sitemap */

/* tarifs */
.javahref{cursor:pointer;}
.tariftitle{
font: 100 18px 'Open Sans';
color: #fff;
float: left;
padding: 5px 15px;
border-radius: 4px;
background: #00cccb;
margin:0 0 15px 0;
}
.tarifbl{ margin: 0 0 20px 0; }

table.tariftable {border:none; width: 100%; }
table.tariftable  th{font: 600 16px 'Open Sans';color:#929292;padding: 7px 3px;background:#f5f5f5;text-align:left; border-top: 1px solid #ebebeb;}

table.tariftable td{font: 300 12px 'Open Sans'; padding: 7px 3px;text-align:left; border-bottom:1px solid #ebebeb;}

table.tariftable td.tacursotd{
padding: 0 0 0 10px;
width: 80px;
}
table.tariftable td.tavnstr{
width: 20px;
}
table.tariftable td.tarezervs{
padding: 0 0 0 10px;
}
.tavnstr div{
width: 20px;
height: 30px;
background: url(images/wliarr.png) no-repeat center center;
}
.obmenline{display:block;width:160px;overflow:hidden;text-decoration:none;}
.obmenlineico{display: none; }
.obmenlinetext{color:#393f4f;float:left;width:120px; font: 300 12px 'Open Sans';}
/* end tarifs */

/* home */
.homeobmentable{
margin: 0 0 30px;
background:#fff;
border-radius:4px;
padding: 0px;
box-shadow: 0 2px 4px #c4c2c2;
}
	.lefthomecol{
	float: left;
	width: 220px;
	margin: 0 0 0px 0;
	}
	.righthomecol{
	float: left;
	width: 450px;
	margin: 0 0 0px -1px;
	}
		.widgethometitle{
		border-radius: 4px 0 0 0;
		background: #f5f5f5;
		border-bottom: 1px solid #ebebeb;
		}
		.widgethometitle2{
		border-radius: 0 4px 0 0;
		background: #f5f5f5;
		border-bottom: 1px solid #ebebeb;
		}
			.widt{
			color: #929292;
			font: 600 18px 'Open Sans';
			padding: 20px;
			}
			.widt1{
			float:left;
			width: 200px;
			color: #929292;
			font: 600 18px 'Open Sans';
			padding: 20px;
			}
			.widt2{
			float:left;
			color: #929292;
			font: 600 18px 'Open Sans';
			padding: 20px;
			}
	.onehline{
	position: relative;
	padding: 5px 0 0 10px;
	display: block;
	height: 45px;
	cursor: pointer;
	text-decoration: none;
	background:#fff;
	border-bottom: 1px solid #ebebeb;
	border-right:1px solid #ebebeb;
	}
		.onehline.last{
		border-radius: 0 0 0 4px;
		}
		.onehlineico{
		position: relative;
		height: 40px;
		width: 40px;
		overflow: hidden;
		float:left;
		margin: 0 10px 0 0;
		}
		.onehlinetext{position: relative; float:left; width: 140px; font: 100 14px/40px 'Open Sans'; color: #545454;}
			.onehline:hover{background:#f5f5f5;}
			.onehline.act{
			background:#f5f5f5;
			}
			.onehline:hover .onehlinetext, .onehline.act .onehlinetext{
			color: #ff7f66;
			}
	a.onehrine{
	padding: 5px 0 0 10px;
	display:block;
	height:45px;
	cursor:pointer;
	text-decoration:none;
	background:#fff;
	border-bottom: 1px solid #ebebeb;
	border-left:1px solid #ebebeb;
	overflow: hidden;
	}
		a.onehrine.last{
		border-radius: 0 0 4px 0;
		}
		a.onehrine:hover, a.onehrine.active{background:#f5f5f5;}
		.onehrineico{height:40px;width:40px;overflow:hidden;float:left;margin:0 10px 0 0;}
		.onehrinetext{float:left; width: 180px; font: 100 14px/40px 'Open Sans';color:#545454;}
		.onehrinerezerv{position: relative; padding: 5px 0 5px 20px; margin: -5px 0; border-left:1px solid #ebebeb; float:left;width:160px;font: 14px/40px 'Open Sans';color:#545454;}
			a.onehrine.active .onehrinetext, a.onehrine:hover .onehrinetext{
			color: #ff7f66;
			}
			a.onehrine.active .onehrinerezerv, a.onehrine:hover .onehrinerezerv{
			color: #ff7f66;
			}
.zaprosvalutrelvn{
display: none;
position: absolute;
float: none;
top: 16px;
right: 0px;
font: 600 12px 'Open Sans';
color: #0ca4a3;
border-bottom: 1px dotted #0ca4a3;
}
	.zaprosvalutrelvn:hover{
	border-bottom: none;
	}	
.onehrine:hover .zaprosvalutrelvn{ display: block; }
.tabhome{display:none;}
.tabhome.act{display:block;}
/* end home */

/* widget obmen */
.widgetobmen{
margin: 0 0 30px 0;
background: #fff;
border-radius: 4px;
box-shadow: 0 2px 4px #c4c2c2;
padding: 25px 30px 15px;
}
	.widgetobmentitle{
	margin: -25px -30px 10px;
	padding: 20px 30px;
	font: 600 18px/20px 'Open Sans';
	color: #929292;
	border-bottom: 1px solid #ebebeb;
	}
	.wopredblock{
	background: #f5f5f5; margin: -10px -30px 10px; padding: 10px 30px;
	}
		.wopredtext{font: 100 11px 'Open Sans';}
			.wopred{ font:14px 'Open Sans';  padding: 0 0 10px 30px; background: url(images/vopr.png) no-repeat 0 0;}

	.woblock{
	padding: 0;
	}
		.wotitle{color:#929292; font: 600 18px 'Open Sans'; margin:0 0 10px;}

	.parenttool{
	position: relative;	
	}		
		.wowarnerr{color:#ff7f66; font: 10px 'Open Sans'; display: none; padding: 0 0 0 2px;}
			.err .wowarnerr{display: block; }	
		
	.wolineinput{ padding: 0px 0 10px 0;}		
		
	.wosummtitle{font:12px 'Open Sans'; margin:0 0 4px 0;}
	.wosumline{padding:0 0 10px 0;}
		.wosumline.err { padding: 0 0 15px 0; }	
	.wosumminput{float:left;width:90px;padding:2px 0 2px 0;}
		.wosumminput input{ width: 80px; }
	.wosummnazv{float:left;width:100px;padding:13px 0 0 0;font: 600 13px 'Open Sans';overflow:hidden;}	
	.wvalname{
	font-weight: bold;
	}
	.wosummopis{float:left;width:100px; font: 100 10px/11px 'Open Sans'; padding:2px 0 0 0;overflow:hidden; color: #929292;}
	.woschettitle{font:13px 'Open Sans';margin:0 0 2px 0;} 
	.wosubmit input{
	display: block;
	margin: 0 auto;
	}
/* end widget obmen */

/* obmen */
.xchangestep1title, .xchangestep2title, .xchangestep3title{
font: 600 24px/26px 'Open Sans';
color: #929292;
margin: -25px -30px 15px;
padding: 20px 30px;
background: #f5f5f5;
border-radius: 4px 4px 0 0;
border-bottom: 1px solid #e7e8eb;
}
	.biginfo{
	background: #f5f5f5 url(images/vopr.png) no-repeat 40px 18px; padding: 15px 50px 15px 70px; 
	margin: -15px -30px 20px;
	border-bottom: 1px solid #e7e8eb;
	}
		.binfotitle{font: 100 18px 'Open Sans'; margin:0 0 5px 0;}
		.biginfo p{padding:5px 0;}

	.fcwidget{
	background:#fff;
	border-radius: 4px;
	padding: 25px 30px 10px;
	box-shadow: 0 2px 4px #c4c2c2;
	}
		.fcwidgetvn{padding:0 0 20px 0;color:#484747;}
			.fcwtitle{margin:0 0 25px 0;}
				.fcwtitlevn{
				font: 600 24px/26px 'Open Sans';
				color: #929292;
				}
			.fcwidget p{padding: 0 0 10px 0;}
			
	.blockchange{
	margin: 0 0 20px 0;
	}		
		.obmentitle{
		color:#929292; 
		font: 600 18px 'Open Sans';
		margin:0 0 15px 0;
		}		
	.wolineinputtab{
	padding: 5px 0 5px 0;
	}	
		.wolineinputtab input{ width: 310px; }		
		
	.obmentablediv{
	border-bottom: 1px solid #e7e8eb;
	border-top: 1px solid #e7e8eb;
	margin: 0 -30px 20px;
	padding: 20px 30px;
	background: #f5f5f5;
	}	
		table.obmentable td{padding:0 0 0 10px; font: 100 13px 'Open Sans'; vertical-align:top;}
			table.obmentable td.tdobmtitle{width: 120px; padding: 17px 0 0 0;}
			table.obmentable td.tdfirst{ width: 5px; }
			
	.obmenfirstblock{
	margin: 0 0 15px 0;
	}
		.obmenfirstleft{float:left;width:330px;}
			.wcomtext{
			font: 100 12px 'Open Sans';
			}		
		.obmenfirstright{float:right;width:270px;}
			table.obmminit{
			width:270px;
			vertical-align: top;
			}
				.obmminitright input{
				width: 180px;
				}			
				td.obmminitleft{
				padding: 12px 10px 0 15px;
				vertical-align: top;
				}
				td.obmminitright{
				width: 180px;
				vertical-align: top;
				}		
	.plsyst{
	font-weight: 600;
	}

	.stepshetline{
	margin: 0 0 10px 0;
	}
		.stepshettitle{
		font: 13px 'Open Sans';
		padding: 0 0 2px 2px;
		}
		.stepshetleft{
		float: left;
		width: 330px;
		}
			.stepshetleft input{
			width: 100%;
			}
			.stepshetleft select{
			width: 100%;
			}	
		.stepshetright{
		float:right;
		width:270px;
		padding: 12px 0 0 0;
		}	
	
	.xchangestep1submit input{
	display: block;
	margin: 0 auto;
	}	
	
.rselected{cursor:pointer;position:relative;}
.rselecttitle{
width:330px;
height: 38px;
border: 1px solid #d2d2d2;
border-radius:4px;
background: #ffffff;
}
.act .rselecttitle, .rselected:hover .rselecttitle{
background: #f5f5f5;
}
.rselecttitlevn{background:url(images/rselect.png) no-repeat right center; height:40px;}
.rselectico{float:left;width:40px; height: 38px; margin:0 10px 0 10px;}
.rselectname{float:left;width:240px; height: 38px; font: 100 16px/38px 'Open Sans'; color:#545454;}
.rselectlinemenu{display:none;position:absolute; z-index: 5; float:none;top:40px;left:0;width:330px;border:1px solid #d2d2d2;border-radius:4px;background:#fff; overflow-y: auto; max-height: 180px;}
.act .rselectlinemenu{display:block;}
.rselectline{background:#fff;height: 38px;}
.rselectline.cur .rselectname, .rselectline:hover .rselectname{ color: #ff7f66;}
/* end obmen */

/* step 2 and 3 */
.stepblock{
border-bottom: 1px solid #ebebeb;
margin: -20px -30px 20px;
padding: 15px 30px;
}
	.steptitle{
	margin: 0 0 10px;
	color: #929292; 
	font: 600 18px 'Open Sans';
	}
		.steptitlemin{
		margin: 0 0 0 5px;
		font: 100 12px 'Open Sans';
		color: #929292;
		}	
	.stepline{margin:0 0 5px 0; font: 100 13px 'Open Sans';}
		.step2name{font-weight:bold;}
	.stepblleft{
	padding: 5px 0 0 0;
	float: left;
	width: 330px;
	font: 14px 'Open Sans';
	}
	    .stepblleft p{
		padding: 0 0 5px 0;
		}
	.stepblright{
	float: right;
	width: 200px;
	padding: 5px 0 0 0;
	}
		.stepicotext{
		float: right;
		height: 40px;
		font: 14px/40px 'Open Sans';
		}
	.stepico{float:right;width:40px;height:40px;margin: 0px 10px 0 0; }
.stepcheckbox{
padding: 0 0 30px 170px;
}
.stepwarning{
font: 600 12px 'Open Sans';
text-align: center;
color: #ff7f66;
margin: 0 0 25px 0;
}
.step2submit{
text-align: center;
}
.merchantinst{
margin: 0 0 10px 0;
font: 14px 'Open Sans';
}
    .merchantinst p{
	padding: 0 0 10px 0;
	}
	.merchantinst h3{
	color: #929292; 
	font: 600 18px 'Open Sans';
	margin:0 0 10px 0;
	}
.plategblock{
margin: 0 0 20px 0;
font: 14px 'Open Sans';
}
	.plblockvid{
	color: #3f3f3f;
	}
.zawarntext{
margin: 0 0 20px 0;
}
.statusza{
background: #f5f5f5;
padding: 15px 30px;
margin: 0 -30px;
font: 100 14px 'Open Sans';
}
.statuszadel, .statuszaworked, .statuszasuc{
background: #f5f5f5;
padding: 15px 30px;
margin: 0 -30px;
font: 100 14px 'Open Sans';
}
	.statuszadel.topped, .statuszaworked.topped, .statuszasuc.topped{
	margin: 0 -30px 20px;
	}
	.statuszadeleted{
	color: #ff0000;
	}
		.statuszabolds, .statuszawobolds, .statuszasucbolds{
		font-weight: bold;
		}
			.zadate{
			margin:0 0 5px 0; font: 100 14px 'Open Sans';
			}
			.newstatbo{
			color: #000;
			}			
.oplblockstep{
padding: 20px 0 10px 0;
}
.oplblockstepleft{
float: left; width: 45%;
}
.oplblockstepright{
float: right; width: 45%; text-align: right;
}
.zayastatus{
background: #f5f5f5;
padding: 15px 30px;
margin: 0 -30px;
font: 100 14px 'Open Sans';
}
/* end step 2 and 3 */

/* tooltip */
.exchboxtool{
position: absolute;
z-index: 2;
float: none;
top: 45px;
left: 0;
width: 100%;
display: none; 
border-radius: 4px;
color: #fff;
font: 300 11px 'Open Sans';
background: #00cccb;
}
	.obmentablediv .exchboxtool{
	top: 50px;	
	}
.exchboxtoolvnug{
position: absolute;
float: none;
top: -3px;
left: 30px;
width: 6px;
height: 3px;
background: url(images/ug.png) no-repeat;
}
.exchboxtooltext{
padding: 10px 15px;	
overflow: hidden;
}
/* end tooltip */

/* standart widgets */
.widget{
margin: 0 0 30px 0;
background: #fff;
border-radius: 4px;
box-shadow: 0 2px 4px #c4c2c2;
padding: 25px 30px 15px;
}
.widget_title{
margin: -25px -30px 15px;
padding: 20px 30px;
font: 600 18px/20px 'Open Sans';
color: #929292;
border-bottom: 1px solid #ebebeb;
}
.widget ul li{
display:block;
padding:0 0 5px 15px;
background:url(images/wliarr.png) no-repeat 0 3px;
}
/* end standart widgets */

/* widget news */
.widget_news_div .widget_title{
margin: -25px -30px 0;
padding: 20px 30px;
font: 600 18px/20px 'Open Sans';
color: #929292;
border-bottom: none;
}
.widget_news_more_div{
border-top: 1px solid #ebebeb;
margin: 0 -30px -15px;
padding: 15px 30px;
text-align: right;
}
.widget_news_line{margin:0 0 15px 0;}
.widget_news_date{
float: left;
width: 40px;
padding: 5px 0;
text-align: center;
color: #fff;
background: #cdcdcd;
border-radius: 4px;
}
	.wmon{
	font: 11px 'Open Sans';
	padding: 0 0 2px 0;
	}
	.wdate{
	font: 16px 'Open Sans';
	}
.widget_news_content{
float: right;
width: 145px;
}
	.widget_news_text{
	font: 12px/17px 'Open Sans';
	padding: 0 0 5px 0;
	}
/* end widget news */

/* widget reviews */
.widget_reviews_div .widget_title{
margin: -25px -30px 0;
padding: 20px 30px;
font: 600 18px/20px 'Open Sans';
color: #929292;
border-bottom: 1px solid #ebebeb;
}
.widget_reviews_more_div{
border-top: 1px solid #ebebeb;
margin: 0 -30px -15px;
padding: 15px 30px;
text-align: right;
}
.widget_reviews_line{
margin: 0 -30px 0;
padding: 15px 30px;
}
	.widget_reviews_line.odd{
	background: #f5f5f5;
	}
	.widget_reviews_author{
	float: left;
	font: 13px 'Open Sans';
	margin: 0 4px 0 0;
	color: #ff7f66;
	}
		.widget_reviews_author a{
		color: #ff7f66;
		text-decoration: none;
		}
	.widget_reviews_date{
	float: left;
	padding: 2px 0 5px 0;
	color: #545454;
	font: 11px 'Open Sans';
	}
.widget_reviews_content{
position: relative;
font: 12px 'Open Sans';
}
/* end widget reviews */

/* rezerv widget */
.rezerv_widget{
margin: 0 0 30px 0;
background: #fff;
border-radius: 4px;
box-shadow: 0 2px 4px #c4c2c2;
padding: 0 0 0px;
}
.rezervwidget_title{
margin: 0 0 0;
padding: 20px 30px;
font: 600 18px/20px 'Open Sans';
color: #929292;
border-bottom: 1px solid #ebebeb;
}
.obmenlinew{display:block; padding: 0 0 0 10px; margin:0 0 0 0;overflow:hidden;text-decoration:none;}
.obmenlinewico{height: 40px; width: 40px; overflow:hidden; float:left; margin:0 10px 0 0;}
.obmenlinewtext{color:#545454; float:left; width: 90px; padding: 10px 0 0 0; font: 100 14px 'Open Sans';}
table.rewtable{ width: 100%; }
table.rewtable td{ color: #ff7f66; text-align: left; padding: 5px 0; }
table td.rewrezerv{padding: 0 5px; }
table.rewtable .odd td{ background: #f5f5f5; }
/* end rezerv widget */

/* status widget */
.statuswork_widget{
margin: 0 0 30px 0;
background: #fff;
border-radius: 4px;
box-shadow: 0 2px 4px #c4c2c2;
padding: 20px 0 20px 30px;
margin: 0 0 30px 0;
}
.statuswork_widgetvn{
background: url(images/online.png) no-repeat 0 0;
padding: 42px 0 0 42px;
color: #929292;
}
.offline .statuswork_widgetvn{
background: url(images/offline.png) no-repeat 0 0;
}
.statuswork_widget_text{
font: 600 18px 'Open Sans';
}
.statuswork_widget_time{
font: 12px 'Open Sans';
padding: 0 0 0 2px;
}
/* end status widget */

/* login widget */
.login_widget, .register_widget{
margin: 0 0 30px 0;
background: #fff;
border-radius: 4px;
box-shadow: 0 2px 4px #c4c2c2;
padding: 0 30px 0;
}
.login_widget_title, .register_widget_title{
margin: 0 -30px 0;
padding: 20px 30px 25px;
font: 600 18px/20px 'Open Sans';
color: #929292;
}
.wline{padding:0 0 20px 0;}
.wlineleft{float:right; width:100px; padding: 0 0 15px 0; text-align: right; }
.wlineright{float:left; width:100px; }
.wlinesubmit{
background: #f5f5f5;
padding: 15px 20px;
margin: 0 -30px 0;
border-radius: 0 0 4px 4px;
border-top: 1px solid #ebebeb;
}
.wlinesubmit input{
margin: 0 auto;
display: block;
}
/* end login widget */

/* user widget */
.user_widget{
margin: 0 0 30px 0;
background: #fff;
border-radius: 4px;
box-shadow: 0 2px 4px #c4c2c2;
padding: 0 30px 0;
}
.user_widget_title{
margin: 0 -30px 0;
padding: 20px 30px 20px;
font: 600 18px/20px 'Open Sans';
color: #929292;
border-bottom: 1px solid #ebebeb;
}
.user_widget ul li{display:block;padding:0 0 5px 0px;}
.user_widget ul{margin:0 0 0 0px;padding: 0 0 5px 0;}
.wexit{
margin: 0 -30px 10px;
padding: 10px 30px;
background: #f5f5f5;
border-top: 1px solid #ebebeb;
text-align: center;
}
.uswidin{
margin: 0 -30px 10px;
padding: 10px 30px;
background: #f5f5f5;
}
	.uswidinleft{
	float: left;
	width: 100px;
	}
	.uswidinright{
	float: right;
	width: 100px;
	text-align: right;
	color: #ff7f66;
	}
/* end user widget */

/* parser */
.bexbcurs_widget{
margin: 0 0 30px 0;
background: #fff;
border-radius: 4px;
box-shadow: 0 2px 4px #c4c2c2;
padding: 0 0 0;
}
.bexbcurs_widgettitle{
margin: 0 0 0;
padding: 20px 30px;
font: 600 17px/20px 'Open Sans';
color: #929292;
border-bottom: 1px solid #ebebeb;
}
.bexbcurs_update{
border-top: 1px solid #ebebeb;
padding: 15px 30px;
color: #929292;
font: 100 14px 'Open Sans';
}
.bexbcurs_tableline{
background: #f5f5f5;
padding: 10px 10px 10px 30px;
}
	.bexbcurs_tableline.odd{
	background: #fff;
	}
.bexbcurs_tabletab1{
float: left;
width: 75px;
}
.bexbcurs_para{
color: #545454;
font: 100 13px 'Open Sans';
text-transform: uppercase;
padding: 0 0 3px 0;
}
.bexbcurs_birga{
color: #929292;
font: 100 10px 'Open Sans';
}
.bexbcurs_arr{
float: left;
width: 25px;
background: url(images/wliarr.png) no-repeat 0 5px;
height: 30px;
}
.bexbcurs_tabletab3{
float: left;
width: 110px;
}
.bexbcurs_cursline{
color: #545454;
font: 100 12px 'Open Sans';
}
/* end parser */

/* lastobmen widget */
.lobmen_widget{
margin: 0 0 30px 0;
background: #fff;
border-radius: 4px;
box-shadow: 0 2px 4px #c4c2c2;
padding: 25px 30px 0px;
}
.lobmenwidget_title{
margin: -25px -30px 0;
padding: 20px 30px;
font: 600 18px/20px 'Open Sans';
color: #929292;
border-bottom: 1px solid #ebebeb;
}
.lobmline{
float: left;
width: 90px;
}
.lobmlinebac{
color: #545454;
padding: 5px 0 0 0;
font: 100 11px 'Open Sans';
}
.lobmlinepr{
float: left;
width: 20px;
height: 40px;
background: url(images/wliarr.png) no-repeat 0 center;
}
.lobmentable{
background: #f5f5f5;
padding: 10px 30px 15px;
margin: 0 -30px 0px;
}
.lobmenlinewico{height: 40px; width: 40px; overflow:hidden; float:left; margin:0 10px 0 0;}
.lobmendate{
color: #929292;
padding: 10px 0 0 0;
font: 300 14px 'Open Sans';
}
/* end lastobmenwidget */

/* pagenavi */
.pagenavi{padding: 0px 0 0 0;margin: 0 0 20px 0;color:#393f4f;text-align:center; font: 13px 'Open Sans';}
.pagenavi span, .pagenavi a{margin:0 2px;position:relative; padding: 8px 12px; border-radius:4px;}
.pagenavi span{
background: #00cccb;
color: #fff;
}
.pagenavi a{
text-decoration:none;
color: #fff;
background: #cdcdcd;
text-decoration: none;
}
.pagenavi a:hover{
color: #fff;
text-decoration: none;
}
/* end pagenavi */

/* partners */
.partners_div{
background: #00cccb; 
width: 100%;
min-width: 1000px;
padding: 34px 0 24px;
}
.partners_div_ins{
width: 960px;
margin: 0 auto;
}
.partners_div_ins{
width: 960px;
margin: 0 auto;
}
.partners_title{color:#fff; font: 600 18px 'Open Sans'; margin: 0 0 20px 0;}
.partners_one{
float: left;
margin: 0 20px 10px 0;	
}
/* end partners */
	
/* footer */
#footer{
position: relative;
z-index: 10;
padding: 15px 0;
background: #2a2a2a;
width: 100%;
min-width: 1000px;
}
.footer{width: 960px; margin: 0 auto; color:#fff; font: 100 13px 'Open Sans';}
.footer a{color:#fff; text-decoration: underline;}
.footer_left{width: 430px;float:left;}
	.mobile_link_div{
	padding: 5px 0 0 0;	
	}
.footer_right{text-align:right;width: 430px;float:right;}
.footer_right ul li{ display: inline; margin: 0 0 0 45px;}
	.footer_right ul li a{
	color: #fff;
	text-decoration: underline;
	}
		.footer_right ul li a:hover{ text-decoration: none; }
/* end footer */	

/* result message */
.resultfalse{font: 600 13px/16px 'Open Sans'; border-radius:3px; background:#fbe1e5; padding:10px 20px;color:#a9081f;margin:0 0 10px 0;}
.resulttrue{font: 600 13px/16px 'Open Sans'; border-radius:3px; background:#d4fbd6; padding:10px 20px;color:#13a51d;margin:0 0 10px 0;}
/* end result message */

/* reserv window */
.standart_shadow{
position: fixed;
float: none;
top: 0;
left: 0;
z-index: 999998;
width: 100%;
height: 100%;
background: #000;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
-moz-opacity: 0.7; 
-khtml-opacity: 0.7;
opacity: 0.7;
}
.standart_window{  
position: fixed;
float: none;
width: 100%;
max-width: 400px;
top: 100px;
left: 0px;
z-index: 999999;
}
	.standart_windowins{
	position: relative;
	width: 360px;
	margin: 0 auto;
    padding: 20px 20px 20px;
    box-shadow: 0 0 10px #000;
    background: #fff;	
	border: 1px solid #ddd;
	}		
    .standart_window_close{
	position: absolute;
	float: none;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background: url(images/close.png) no-repeat center center;
	top: 20px;
	right: 15px;
	}	
	.standart_window_title{
	font: 100 23px/25px 'Open Sans', sans-serif;
	color: #ff7f66;
	margin: 0 0px 10px;
	padding: 0px 30px 0px 0px; 
	border: none;	
	}
	.rb_line{
	padding: 5px 0;
	}
/* end reserv window */

/* classed */
.clear{clear:both;}
.right{float:right;}
.red, .req{ color: #ff7f66; }
img.alignnone{display:block;margin:0 0 20px 20px;}
img.alignright{float:right;margin:0 0 1em 1em}
img.alignleft{float:left;margin:0 1em 1em 0}
img.aligncenter{display:block;margin:20px auto;}
a img.alignnone{display:block;margin:0 0 20px 20px;}
a img.alignright{float:right;margin:0 0 1em 1em}
a img.alignleft{float:left;margin:0 1em 1em 0}
a img.aligncenter{display:block;margin:20px auto;}