/******************** TYPOGRAPHY ********************/
body {
  color: #616161;
  overflow-x: hidden;
}
@media (min-width: 1920px) {
  .body-container {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #272727;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}
a {
  transition: all 0.3s;
}
a:hover {
  color: #04a878;
  text-decoration: none;
}
a:hover .icon svg {
  fill: #04a878;
}
a:focus {
  text-decoration: none;
}
.link {
  font-size: 18px;
  font-weight: 500;
}
.link .icon svg {
  width: 15px;
  height: 15px;
}
.title-text {
  margin-top: 0;
}
.small-text {
  font-size: 14px;
  font-weight: 300;
}
.text-big {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
.text-color {
  font-weight: 500;
}
.text-dark {
  color: #272727;
}
strong {
  font-weight: 500;
}
.text-strong {
  font-weight: 500;
  font-size: 19px;
}
blockquote {
  border: none;
  padding: 0;
}
iframe {
  border-width: 0;
}
button {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}
button:active,
button:focus {
  border-color: transparent;
}
/******************** ICONOGRAPHY ********************/
.icon {
  display: inline-block;
}
.icon svg {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  transition: all 0.3s;
}
.icon-xlg svg {
  width: 90px;
  height: 90px;
}
.icon-lg svg {
  width: 80px;
  height: 80px;
}
.icon-md svg {
  width: 65px;
  height: 65px;
}
.icon-sm svg {
  width: 55px;
  height: 55px;
}
.icon-smx svg {
  width: 40px;
  height: 40px;
}
.icon-xs svg {
  width: 30px;
  height: 30px;
}
.icon-shape {
  display: inline-block;
  text-align: center;
}
.width-60 {
  width: 60px;
  height: 60px;
}
.width-60 svg {
  width: 25px;
  height: 56px;
}
.width-65 {
  width: 65px;
  height: 65px;
}
.width-65 svg {
  width: 25px;
  height: 61px;
}
.width-75 {
  width: 75px;
  height: 75px;
}
.width-75 svg {
  width: 35px;
  height: 71px;
}
.width-90 {
  width: 90px;
  height: 90px;
}
.width-90 svg {
  width: 30px;
  height: 86px;
}
.radius-20 {
  border-radius: 20px;
}
.radius-30 {
  border-radius: 30px;
}
.shape-bg.icon svg {
  fill: #fff;
}
.shape-no-bg {
  background-color: transparent;
}
/******************** BUTTONS ********************/
.btn {
  font-size: 20px;
  font-weight: 500;
  border-radius: 27px;
  box-shadow: none;
  transition: all 0.3s;
  border: 0;
}
.btn:hover {
  box-shadow: none;
}
.btn:focus,
.btn:active {
  box-shadow: none;
}
.btn-rectangle {
  border-radius: 4px;
}
.btn-rectangle:after {
  border-radius: 4px !important;
}
.btn-base {
  color: #fff;
  border-color: transparent;
  position: relative;
  z-index: 1;
}
.btn-base:hover,
.btn-base:focus,
.btn-base:active {
  color: #fff;
}
.btn-base:hover:after {
  opacity: 1;
}
.btn-base span {
  position: relative;
  z-index: 3;
}
.btn-base .icon svg {
  fill: #fff !important;
}
.btn-base:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 27px;
  transition: opacity 0.5s;
  z-index: 2;
  opacity: 0;
}
.btn-white {
  background-color: #fff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active {
  color: #272727;
}
.btn-trans.btn-lg {
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn-trans.btn-md {
  padding-top: 8px;
  padding-bottom: 8px;
}
.btn-trans.btn-sm {
  padding-top: 9px;
  padding-bottom: 9px;
}
.btn-trans:hover,
.btn-trans:focus,
.btn-trans:active {
  color: #fff;
}
.btn-secondary {
  border-color: #efefef;
  color: #616161;
}
.btn-icon {
  padding: 16px 38px;
}
.btn-icon .media-left,
.btn-icon .media-body {
  width: auto;
  vertical-align: middle;
}
.btn-icon .media-left {
  padding-right: 15px;
}
.btn-icon .icon svg {
  width: 60px;
  height: 60px;
}
.btn-icon .small-text {
  font-size: 18px;
}
.btn-icon .big-text {
  font-size: 28px;
}
.btn-icon .small-text,
.btn-icon .big-text {
  display: block;
  text-align: left;
  font-weight: 500;
}
.buttons-group .btn {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .buttons-group li {
    display: inline-block;
  }
}
.btn-lg {
  padding: 17px 35px;
}
.btn-md {
  padding: 10px 35px;
}
.btn-sm {
  padding: 11px 20px;
  min-width: auto;
  font-size: 18px;
}
.btn-block {
  padding-left: 10px;
  padding-right: 10px;
}
/*
|----------------------------------------------------------------------------
| SECTION STYLE
|----------------------------------------------------------------------------
*/
.gradient-overlay,
.transparent-overlay,
.video-bg {
  position: relative;
  color: #fff;
}
.gradient-overlay .heading-text,
.transparent-overlay .heading-text,
.video-bg .heading-text {
  color: #fff;
}
.gradient-overlay:before,
.transparent-overlay:before,
.video-bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.transparent-overlay,
.video-bg,
.polygon-bg {
  color: #fff;
}
.transparent-overlay .icon svg,
.video-bg .icon svg,
.polygon-bg .icon svg {
  fill: #fff;
}
.transparent-overlay .icon svg:hover,
.video-bg .icon svg:hover,
.polygon-bg .icon svg:hover {
  fill: #fff;
  opacity: 0.8;
}
.transparent-overlay .heading-text,
.video-bg .heading-text,
.polygon-bg .heading-text {
  color: #fff;
}
.transparent-overlay .heading-pre-suf:before,
.video-bg .heading-pre-suf:before,
.polygon-bg .heading-pre-suf:before,
.transparent-overlay .heading-pre-suf:after,
.video-bg .heading-pre-suf:after,
.polygon-bg .heading-pre-suf:after {
  background-color: #fff;
}
.transparent-overlay .section-heading .lines,
.video-bg .section-heading .lines,
.polygon-bg .section-heading .lines {
  border-top-color: #fff;
}
.transparent-overlay .section-heading .lines:before,
.video-bg .section-heading .lines:before,
.polygon-bg .section-heading .lines:before,
.transparent-overlay .section-heading .lines:after,
.video-bg .section-heading .lines:after,
.polygon-bg .section-heading .lines:after {
  border-top-color: #fff;
}
.transparent-overlay.testimonials .client-name,
.video-bg.testimonials .client-name,
.polygon-bg.testimonials .client-name {
  color: #fff;
}
.image-bg {
  background: url(../images/app-home-bg.jpg);
  background-position: center top;
  background-size: cover;
}
.dark-image-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/app-home-bg.jpg);
  background-position: center top;
  background-size: cover;
}
.section-video {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  z-index: -1;
  background: #f7f7f7;
}
.section-video video {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
}
.cover-bg {
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.white-bg {
  background-color: #fff;
}
.white-bg .secondary-color-bg {
  background-color: #f7f7f7;
}
.white-bg .input-group-big .secondary-color-bg {
  border-color: #f7f7f7;
}
.white-bg .btn-secondary {
  background-color: #f7f7f7;
}
.white-bg .btn-secondary:hover,
.white-bg .btn-secondary:focus {
  background-color: #f7f7f7;
}
.secondary-bg {
  background-color: #f7f7f7;
}
.secondary-bg .secondary-color-bg {
  background-color: #fff;
}
.secondary-bg .input-group-big .secondary-color-bg {
  border-color: #fff;
}
.secondary-bg .btn-secondary {
  background-color: #fff;
}
.secondary-bg .btn-secondary:hover,
.secondary-bg .btn-secondary:focus {
  background-color: #fff;
}
.gradient-bg {
  color: #fff;
}
.small-content {
  padding-top: 93px;
  padding-bottom: 90px;
}
.small-content p {
  font-size: 18px;
}
.small-content p:last-child {
  margin-bottom: 0;
}
.small-content-2 {
  padding-top: 66px;
  padding-bottom: 68px;
}
.small-content-2 p:last-child {
  margin-bottom: 0;
}
.map-info-window {
  font-family: Hind;
  font-size: 16px;
  color: #616161;
  padding: 30px;
}
.map-info-window .title-text {
  margin-bottom: 15px;
}
.map-info-window p {
  line-height: 25px;
  margin-bottom: 25px;
}
.map-info-window a {
  font-weight: 400;
}
.map {
  width: 100%;
  height: 334px;
}
.cover-map {
  height: 650px;
}
/******************** SECTION HEADING ********************/
.section-heading {
  margin-bottom: 34px;
}
.section-heading .heading-text {
  margin-top: 0;
  margin-bottom: 15px;
}
.section-heading .sub-heading {
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 63px;
}
.section-heading .lines {
  width: 6px;
  position: relative;
  margin-left: 34px;
  margin-top: 15px;
}
.section-heading .lines:before,
.section-heading .lines:after {
  content: "";
  position: absolute;
  top: -2px;
  width: 30px;
}
.section-heading .lines:before {
  left: -34px;
}
.section-heading .lines:after {
  right: -34px;
}
.heading-pre-suf {
  position: relative;
  display: inline-block;
  font-weight: 400;
  color: #272727;
  font-size: 22px;
}
.heading-pre-suf:before,
.heading-pre-suf:after {
  content: "";
  position: absolute;
  top: 5px;
  width: 40px;
  height: 13px;
}
.heading-pre-suf:before {
  left: -50px;
}
.heading-pre-suf:after {
  right: -50px;
}
.text-center .lines {
  margin: auto;
}
/*
|----------------------------------------------------------------------------
| HELPER CLASSES
|----------------------------------------------------------------------------
*/
.mt15 {
  margin-top: 15px;
}
.mt30 {
  margin-top: 30px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb60 {
  margin-bottom: 60px;
}
.p_tb75 {
  padding-top: 75px;
  padding-bottom: 75px;
}
.padding-125-125 {
  padding-top: 125px;
  padding-bottom: 125px;
}
.padding-125-75 {
  padding-top: 125px;
  padding-bottom: 75px;
}
.padding-120-125 {
  padding-top: 120px;
  padding-bottom: 125px;
}
.padding-120-75 {
  padding-top: 120px;
  padding-bottom: 75px;
}
.padding-120-60 {
  padding-top: 120px;
  padding-bottom: 60px;
}
.padding-120-90 {
  padding-top: 120px;
  padding-bottom: 90px;
}
.padding-120-95 {
  padding-top: 120px;
  padding-bottom: 95px;
}
.padding-100-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (min-width: 768px) {
  .p_lr45 {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (min-width: 992px) {
  .pr95 {
    padding-right: 95px;
  }
  .pl30 {
    padding-left: 30px;
  }
  .pr30 {
    padding-right: 30px;
  }
  .pr10 {
    padding-right: 10px;
  }
  .pl10 {
    padding-left: 10px;
  }
}
@media (min-width: 1200px) {
  .p_lr150 {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media (min-width: 992px) {
  .img-left {
    margin-left: 0;
    margin-right: auto;
  }
  .img-right {
    margin-left: auto;
    margin-right: 0;
  }
  .img-center {
    margin-left: auto;
    margin-right: auto;
  }
}
.img-scale {
  overflow: hidden;
}
.img-scale img {
  display: block;
  max-width: 100%;
  height: auto;
}
/******************** MISC ********************/
.media-left {
  padding-right: 25px;
}
.media-body .title-text {
  margin-top: 0;
}
.media-chained + .media-chained {
  margin-top: 0;
}
.media-chained:first-child .media-left:before {
  border-color: transparent;
}
.media-chained:last-child .media-left:after {
  border-color: transparent;
}
.media-chained .media-left {
  position: relative;
}
.media-chained .media-left:before,
.media-chained .media-left:after {
  content: '';
  position: absolute;
  left: 37px;
  border-left: 2px dotted #efefef;
}
.media-chained .media-left:before {
  top: -45px;
  height: 40px;
}
.media-chained .media-left:after {
  top: 79px;
  height: 100%;
}
.nivo-lightbox-theme-default .nivo-lightbox-inline {
  background: transparent;
  padding: 0;
}
.single-quote {
  font-size: 16px;
}
.single-quote strong {
  font-size: 17px;
  font-weight: 500;
}
.swiper-pagination-bullet {
  background-color: #616161;
  width: 12px;
  height: 12px;
  opacity: 1;
}
@media (min-width: 768px) {
  .table-behaviour {
    display: table;
    width: inherit;
  }
  .table-cell {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
}
/*
|----------------------------------------------------------------------------
| FORMS
|----------------------------------------------------------------------------
*/
.form-control {
  box-shadow: none;
  font-size: 16px;
  color: #616161;
  border-color: #efefef;
  line-height: normal;
}
.form-control.secondary-color-bg {
  border: none;
}
.form-control:hover,
.form-control:focus {
  box-shadow: none;
}
.form-standard {
  height: 50px;
  padding: 6px 20px;
  box-shadow: none;
  font-size: 16px;
  color: #616161;
  border: 1px solid #efefef;
  line-height: normal;
  border-radius: 4px;
  width: 100%;
}
.form-standard:hover,
.form-standard:focus {
  box-shadow: none;
  outline: none;
}
.input-group-big .form-control {
  height: 70px;
  padding-left: 40px;
  padding-right: 40px;
}
.input-group-big .form-control:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.input-group-big .btn {
  min-width: auto;
  padding: 18px 35px;
  height: 70px;
}
.input-group-big .btn:after {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-big .icon svg {
  width: 27px;
  height: 27px;
}
@media (max-width: 767px) {
  .input-group-big {
    display: block;
  }
  .input-group-big .form-control {
    display: block;
    border-radius: 30px;
    border-radius: 30px !important;
    margin-bottom: 30px;
  }
  .input-group-big .btn {
    border-radius: 30px !important;
  }
  .input-group-big .btn:after {
    border-radius: 30px;
  }
}
.input-field-big {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.contact-form-popup {
  background-color: #fff;
  padding: 34px 0 58px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  color: #616161;
}
@media (min-width: 768px) {
  .contact-form-popup {
    max-width: 650px;
  }
}
.contact-form-popup .heading-text {
  margin-bottom: 27px;
  color: #272727;
}
.contact-form-popup label {
  color: #272727;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0;
}
.contact-form-popup .form-control {
  padding-left: 0;
  padding-right: 20px;
  padding-bottom: 10px;
  border-color: transparent;
}
.contact-form-popup .form-control:focus,
.contact-form-popup .form-control:hover,
.contact-form-popup .form-control :active {
  border-color: transparent;
}
.table-form > tbody > tr > th,
.table-form > tbody > tr > td {
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 0;
  border: 1px solid #efefef;
}
.table-form > tbody > tr > th:first-child,
.table-form > tbody > tr > td:first-child {
  border-left-color: transparent;
}
.table-form > tbody > tr > th:last-child,
.table-form > tbody > tr > td:last-child {
  border-right-color: transparent;
}
/******************** FORM UNDERLINED ********************/
.form-underlined {
  position: relative;
  margin-bottom: 30px;
}
.form-underlined .form-control {
  border: none;
  border-bottom: 1px solid #dbdbdb;
  border-radius: 0;
  display: inline-block;
  height: 40px;
  line-height: normal;
  transition: all 0.3s;
  font-weight: 500;
}
.form-underlined ::-webkit-input-placeholder {
  font-weight: 300;
}
.form-underlined :-moz-placeholder {
  /* Firefox 18- */
  font-weight: 300;
}
.form-underlined ::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 300;
}
.form-underlined :-ms-input-placeholder {
  font-weight: 300;
}
/******************** FORM BAR ********************/
.form-bar {
  border-radius: 4px;
  width: 100%;
  font-weight: 500;
}
.form-bar .form-group {
  border-right: 2px solid #efefef;
  vertical-align: top;
  background-color: #fff;
  border-radius: 4px;
  height: 70px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .form-bar .form-group {
    border-radius: 0;
  }
  .form-bar .form-group:first-child {
    border-radius: 4px 0 0 4px;
  }
  .form-bar .form-group:last-child {
    border-radius: 0 4px 4px 0;
  }
}
.form-bar .form-group:nth-last-child(-n + 2) {
  border: none;
}
.form-bar .form-group-btn {
  background-color: transparent;
}
@media (min-width: 768px) {
  .form-bar {
    display: inline-table;
  }
  .form-bar.two-field .form-group {
    width: 50%;
  }
  .form-bar .btn {
    border-radius: 0 4px 4px 0;
  }
  .form-bar .form-group {
    display: table-cell;
  }
}
.form-bar .btn {
  height: 70px;
  min-width: auto;
}
.form-bar .btn-white {
  border-left: 2px solid #efefef;
}
.form-inline-label {
  font-size: 13px;
  padding: 10px 20px 0 20px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 0;
  color: #272727;
  text-align: left;
  text-transform: uppercase;
}
.form-inline-input {
  background-color: transparent;
  padding: 0 20px 0 20px;
  border: none;
  width: 100%;
  font-size: 18px;
  line-height: normal;
  color: #616161;
  outline: none;
}
.form-inline-input option {
  color: #616161;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;
}
.select-outer {
  position: relative;
}
.select-outer:after {
  content: "";
  position: absolute;
  top: 7px;
  right: 15px;
  border-width: 7px 6px;
  border-style: solid;
}
.select-outer .form-inline-input {
  margin-top: -5px;
  padding-left: 15px;
  outline: none;
  /* remove focus ring from Webkit */
  -moz-appearance: none;
  -webkit-appearance: none;
}
/******************** WIDGET AREA FORM ********************/
.form-dark-bg {
  background-color: #161616;
}
.form-dark-bg .form-control {
  border-color: rgba(255, 255, 255, 0.15);
}
.form-dark-bg .form-control {
  color: #fff;
}
.form-widget {
  border-radius: 4px 4px 0 0;
  padding: 55px 30px;
}
.form-widget .title-text {
  margin-top: 0;
  margin-bottom: 20px;
}
.form-widget .form-group {
  margin-bottom: 20px;
}
.form-widget .form-control {
  background-color: transparent;
  padding: 10px 12px;
}
.form-widget input.form-control {
  height: 47px;
}
 
.form-widget .calc-form-wrap input.form-control {
  height: 80px;
}
/******************** MULTIPLE SELECT FORM ********************/
.selection-form .form-group {
  margin-bottom: 25px;
}
.multiple-select-form .form-group {
  margin-top: 20px;
}
.multiple-select-form .input-field-big {
  border-radius: 0;
  font-weight: 500;
}
.select-radio input[type="radio"] {
  display: none;
}
.select-radio input[type="radio"]:checked + label {
  color: #fff;
}
.select-title {
  background-color: #272727;
  color: #fff;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  margin-bottom: 5px;
}
.select-item {
  padding: 20px;
  width: 100%;
  text-align: center;
}
.select-item + .select-item {
  margin-top: 5px;
}
.select-item p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
}
.select-item .selector {
  width: 30px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.select-item input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  cursor: pointer;
}
.select-item input[type="checkbox"]:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.select-item input[type="checkbox"]:checked:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 7px;
  height: 16px;
  width: 16px;
  border-radius: 100%;
}
.select-item .description {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.select-item .title-text {
  margin-bottom: 3px;
}
.select-item .select-input {
  width: 90px;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.select-item label {
  padding-right: 10px;
  margin-bottom: 0;
  font-weight: 500;
}
.select-item .form-control {
  border-radius: 1px;
  text-align: center;
  width: 40px;
  display: inline-block;
  border: none;
  font-weight: 500;
}
.white-bg .select-item .form-control {
  background-color: #fff;
}
.secondary-bg .select-item .form-control {
  background-color: #f7f7f7;
}
/******************** ORDER FORM ********************/
.nav-btn-tabs li {
  display: inline-block;
  margin-right: 15px;
}
.nav-btn-tabs li .btn {
  padding: 9px 35px;
  border: 1px solid #efefef;
}
.white-bg .nav-btn-tabs .btn-secondary {
  background-color: #f7f7f7;
}
.secondary-bg .nav-btn-tabs .btn-secondary {
  background-color: #fff;
}
.query-form {
  padding-top: 30px;
}
.query-form p {
  color: #272727;
  font-weight: 500;
}
.query-form p .icon svg {
  width: 13px;
  height: 13px;
}
.query-group {
  margin-bottom: 15px;
}
.order-list {
  margin-top: 0;
}
.order-list li {
  display: inline-block;
  margin-right: 5px;
  padding-left: 12px;
  padding-bottom: 5px;
  position: relative;
}
.order-list li:before {
  content: "·";
  position: absolute;
  left: 0;
  top: 3px;
  font-size: 40px;
  vertical-align: middle;
}
.order-list .remove {
  color: #fc5f45;
  cursor: pointer;
  background-color: #fff;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  font-size: 14px;
  display: inline-block;
  position: relative;
  line-height: 1.1;
  text-align: center;
}
.select-dropdown {
  position: relative;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 15px;
  border-width: 7px 6px;
  border-style: solid;
  border-color: #272727 transparent transparent;
}
.select-dropdown option {
  color: #272727;
}
.select-dropdown .form-standard {
  outline: none;
  /* remove focus ring from Webkit */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-weight: 500;
}
.radio-standard input[type="radio"] {
  display: none;
}
.radio-standard input[type="radio"]:checked + label:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 8px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
}
.radio-standard label {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.radio-standard label:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 5px;
}
.order-select-menu .grid-select-dropdown {
  width: calc(100% - 210px);
  float: left;
  margin-right: 20px;
}
.order-select-menu .form-group {
  margin-bottom: 15px;
}
.order-select-menu .grid-number {
  width: 85px;
  float: left;
  margin-right: 20px;
}
.order-select-menu .btn {
  height: 50px;
  width: 85px;
}
.get-food {
  font-weight: 500;
  color: #272727;
}
.get-food .radio-standard {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 30px;
}
.get-food .radio-standard input[type="radio"] {
  display: none;
}
.get-food .radio-standard input[type="radio"] + label {
  padding-left: 20px;
  font-weight: 500;
}
.total-payment {
  margin-left: 15px;
  padding-left: 15px;
}
.total-payment:before {
  content: "·";
  position: absolute;
  left: 0;
  top: 3px;
  font-size: 40px;
  vertical-align: middle;
}
.total-payment p {
  margin-bottom: 0;
}
/******************** FORM RESULT ********************/
.result {
  position: relative;
}
.result .icon svg {
  width: 23px;
  height: 23px;
}
.result .success-msg {
  color: #75a932;
}
.result .success-msg .icon svg {
  fill: #75a932;
}
.result .error-msg {
  color: #fc5f45;
}
.result .error-msg .icon svg {
  fill: #fc5f45;
}
.result .success-msg,
.result .error-msg {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: none;
  margin-top: 20px;
}
.submit-form-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
  display: none;
}
.submit-form-popup .form-inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #fff;
  color: #616161;
  padding: 30px 30px 10px;
  border-radius: 4px;
  display: none;
}
.submit-form-popup .form-inner .icon svg {
  fill: #616161;
  margin-bottom: 15px;
}
/******************** INPUT GROUP REGULAR ********************/
.input-group .form-control {
  border: 0;
}
@media (max-width: 480px) {
  .input-group {
    display: block;
  }
  .input-group .form-control {
    display: block;
    float: none;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  .input-group .input-group-btn {
    display: block;
    width: auto;
  }
  .input-group .input-group-btn > .btn {
    border-radius: 4px;
  }
}
.input-group-reg .form-control {
  height: 60px;
  padding: 8px 20px;
}
/*
|----------------------------------------------------------------------------
| NAVBAR STYLE
|----------------------------------------------------------------------------
*/
.navbar-nemo {
  background-color: #fff;
  border-color: #efefef;
  transition: all 0.4s;
}
.navbar-nemo .navbar-nav > li {
  font-weight: 500;
}
.navbar-nemo .navbar-nav > li > a {
  color: #272727;
}
.navbar-nemo .navbar-nav > li > a:hover,
.navbar-nemo .navbar-nav > li > a:focus {
  background-color: transparent;
}
.navbar-nemo .navbar-nav > .active > a {
  background-color: transparent;
}
.navbar-nemo .navbar-collapse {
  border-color: #efefef;
}
.navbar-brand {
  line-height: 30px;
  height:71px;
}
.navbar-brand img {
  height: 100%;
}
.appear-onscroll {
  top: -75px;
}
.navbar-toggle {
  position: relative;
  width: 50px;
  height: 45px;
  padding: 0;
  border: 0;
  margin-top: 14px;
  margin-right: 20px;
  overflow: hidden;
}
.navbar-toggle .icon-bar {
  position: absolute;
  left: 10px;
  top: 21px;
  width: 30px;
  height: 3px;
  transition: all 0.5s;
  background-color: #fff !important;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 0;
}
.navbar-toggle .icon-bar-top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.navbar-toggle .icon-bar-middle {
  opacity: 0;
  left: -30px;
}
.navbar-toggle .icon-bar-bottom {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.navbar-toggle.collapsed .icon-bar-top {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  top: 13px;
}
.navbar-toggle.collapsed .icon-bar-middle {
  opacity: 1;
  left: 10px;
}
.navbar-toggle.collapsed .icon-bar-bottom {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  top: 29px;
}
@media (min-width: 768px) {
  .navbar-transparent {
    background-color: transparent !important;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-transparent .navbar-nav > li {
    font-weight: 500;
  }
  .navbar-transparent .navbar-nav > li > a {
    color: #fff;
  }
  .navbar-transparent .navbar-nav > li > a:hover {
    color: #fff !important;
  }
  .navbar-transparent .navbar-nav > .active > a {
    color: #fff !important;
  }
  .navbar-nav > li > a {
    padding-top: 22px;
    padding-bottom: 22px;
    line-height: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/*
|----------------------------------------------------------------------------
| HOMES STYLE
|----------------------------------------------------------------------------
*/
.home {
  color: #fff;
  text-align: center;
}
.home .heading-text {
  color: #fff;
}
.home .sub-heading {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.95);
}
.home .list-block li {
  font-size: 18px;
  line-height: 1.5;
}
.home .icon svg {
  fill: #fff;
}
.home .img-responsive {
  margin-left: auto;
  margin-right: auto;
}
.home-download-btn {
  display: inline-block;
}
.home-download-btn .btn {
  margin-bottom: 20px;
}
.home-download-btn .icon svg {
  fill: #fff;
  width: 15px;
  height: auto;
  margin-left: 5px;
}
.stores-on span {
  opacity: 0.9;
}
/******************** APP HOME ********************/
.app-home-1 {
  padding-top: 140px;
  padding-bottom: 100px;
}
@media (min-width: 992px) {
  .app-home-1 {
    text-align: left;
  }
}
.app-home-1 .logo-home {
  margin-top: 30px;
  margin-bottom: 55px;
}
.app-home-1 .heading-text {
  margin-bottom: 25px;
}
.app-home-1 .sub-heading {
  margin-bottom: 50px;
}
.app-home-1 .img-responsive {
  width: 100%;
  max-width: 487px;
}
/******************** APP HOME 2 ********************/
.app-home-2 {
  padding: 180px 0 0;
}
.app-home-2 .heading-text {
  margin-top: 10px;
}
.app-home-2 .img-responsive {
  margin-top: 30px;
  max-width: 815px;
  width: 100%;
}
.small-review {
  padding: 70px 0 66px;
  border-bottom: 1px solid #EFEFEF;
}
.small-review blockquote {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}
.small-review p:last-child {
  margin-bottom: 0;
}
/******************** APP HOME 3 ********************/
.app-home-3 {
  padding: 150px 0 200px;
}
.app-home-3 .logo-home {
  margin-bottom: 80px;
}
.app-home-3 .logo-home img {
  width: 65px;
  height: auto;
}
.app-home-3 .heading-text {
  margin-bottom: 20px;
}
/******************** BOOK HOME ********************/
.book-home {
  padding: 125px 0 50px;
}
.book-home .heading-text {
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .book-home {
    text-align: left;
  }
}
.book-home .img-responsive {
  width: 100%;
  max-width: 356px;
}
@media (min-width: 1200px) {
  .book-home .heading-text {
    margin-top: 90px;
  }
}
/******************** ELEARNING ********************/
.elearning-home {
  padding: 200px 0;
}

@media(max-width:768px){
	.elearning-home {
	  padding: 100px 0;
	}
}

.elearning-home.image-bg {
  background: url(../images/elearning-home-bg.jpg) no-repeat center top;
  background-size: cover;
}
.elearning-home.dark-image-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/elearning-home-bg.jpg) no-repeat center top;
  background-size: cover;
}
/******************** EVENT HOME 1 ********************/
.event-home-1 {
  padding-top: 150px;
  padding-bottom: 207px;
}
.event-home-1.image-bg {
  background: url(../images/event-home-bg-1.jpg) no-repeat center top;
  background-size: cover;
}
.event-home-1.dark-image-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/event-home-bg-1.jpg) no-repeat center top;
  background-size: cover;
}
.event-home-1 .logo-home {
  margin-bottom: 75px;
}
.event-home-1 .heading-pre-suf {
  margin-bottom: 15px;
  color: #fff;
}
.event-home-1 .heading-text {
  margin-bottom: 20px;
}
.event-home-1 .sub-heading {
  margin-bottom: 70px;
}
/******************** EVENT HOME 2 ********************/
.event-home-2 {
  padding-top: 200px;
  padding-bottom: 133px;
}
.event-home-2.image-bg {
  background: url(../images/event-home-bg-2.jpg) no-repeat center top;
  background-size: cover;
}
.event-home-2.dark-image-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/event-home-bg-2.jpg) no-repeat center top;
  background-size: cover;
}
.event-home-2 .heading-text {
  margin-top: 0;
}
.event-home-2 .home-download-btn {
  margin-top: 25px;
}
.event-home-2 .event-info {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  .event-home-2 {
    text-align: left;
  }
  .event-home-2 .event-info {
    float: right;
  }
}
.event-info {
  padding: 70px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 391px;
  width: 391px;
  border-radius: 100%;
}
@media (max-width: 768px) {
  .event-info {
    height: 300px;
    width: 300px;
    padding: 30px;
  }
  .event-info .heading-text {
    font-size: 50px;
  }
}
.event-info .text-big {
  font-size: 22px;
}
.event-info p {
  font-size: 18px;
}
.event-info.white-bg {
  background: #fff;
}
/******************** PHOTOGRAPHY HOME ********************/
.photography-home {
  padding-top: 375px;
  padding-bottom: 325px;
}
.photography-home.image-bg {
  background: url(../images/photography-home.jpg);
  background-position: center top;
  background-size: cover;
}
.photography-home.dark-image-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/photography-home.jpg);
  background-position: center top;
  background-size: cover;
}
.photography-home .sub-heading {
  margin-bottom: 32px;
}
.photography-home .heading-text {
  letter-spacing: 6px;
}
/*
|----------------------------------------------------------------------------
| FEATURES SECTIONS
|----------------------------------------------------------------------------
*/
.feature-item .icon-shape {
  margin-bottom: 25px;
}
.feature-item .icon {
  margin-bottom: 20px;
}
.feature-item .title-text {
  margin-bottom: 15px;
}
.feature-item p:last-child {
  margin-bottom: 0;
}
/******************** APP FEATURE 1 ********************/
@media (min-width: 768px) {
  .app-features-1 .feature-item {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.app-features-1 .img-responsive {
  width: 100%;
  max-width: 545px;
  margin: 20px auto 0;
}
/******************** APP FEATURE 2 ********************/
@media (min-width: 992px) {
  .app-features-2 .section-heading {
    margin-top: 50px;
  }
}
.app-features-2 .media {
  margin-top: 52px;
}
.app-features-2 .media + .media {
  margin-top: 26px;
}
.app-features-2 .img-responsive {
  width: 100%;
  max-width: 445px;
}
/******************** APP FEATURES 3 ********************/
.grid-border .icon {
  margin-top: -7px;
  margin-bottom: 20px;
}
.grid-border .title-text {
  margin-bottom: 15px;
}
.grid-border p:last-child {
  margin-bottom: 0;
}
.grid-border .item {
  padding-bottom: 50px;
  position: relative;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .grid-border .item:last-child {
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .grid-border .item {
    padding-left: 30px;
    padding-right: 30px;
  }
  .grid-border .item:after,
  .grid-border .item:before {
    content: "";
    position: absolute;
  }
  .grid-border .item:after {
    bottom: 0;
    left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    width: 100%;
  }
  .grid-border .item:before {
    left: 0;
    top: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    height: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .grid-border .item:nth-child(n + 3) {
    padding-top: 50px;
  }
  .grid-border .item:nth-child(2n - 1):before {
    border-color: transparent;
  }
  .grid-border .item:nth-last-child(-n + 2) {
    padding-bottom: 0;
  }
  .grid-border .item:nth-last-child(-n + 2):after {
    border-color: transparent;
  }
}
@media (min-width: 992px) {
  .grid-border .item:nth-child(n + 4) {
    padding-top: 50px;
  }
  .grid-border .item:nth-child(3n + 1):before {
    border-color: transparent;
  }
  .grid-border .item:nth-last-child(-n + 3) {
    padding-bottom: 0;
  }
  .grid-border .item:nth-last-child(-n + 3):after {
    border-color: transparent;
  }
}
/******************** APP FEATURES 4 ********************/
.feature-side-content .icon-shape {
  margin-top: 3px;
  transition: all 0.3s;
}
.feature-side-content .title-text {
  transition: all 0.3s;
}
.feature-side-content.active .icon-shape svg,
.feature-side-content:hover .icon-shape svg {
  fill: #fff;
}
.feature-side-content .feature-content {
  width: calc(100% - 65px);
}
.feature-side-content .feature-content.pull-left {
  text-align: right;
  padding-right: 30px;
}
.feature-side-content .feature-content.pull-right {
  padding-left: 30px;
}
@media (max-width: 991px) {
  .feature-side-content {
    text-align: center;
  }
  .feature-side-content .pull-left {
    float: none !important;
  }
  .feature-side-content .pull-right {
    float: none !important;
  }
  .feature-side-content .feature-content {
    width: 100%;
  }
  .feature-side-content .feature-content.pull-left {
    text-align: center;
    padding-right: 0;
  }
  .feature-side-content .feature-content.pull-right {
    text-align: center;
    padding-left: 0;
  }
}
.feature-side-content + .feature-side-content {
  margin-top: 60px;
}
@media (min-width: 400px) and (max-width: 991px) {
  .feature-side-content {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}
.features-swiper {
  position: relative;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 280px;
}
@media (min-width: 992px) {
  .features-swiper {
    padding-bottom: 33px;
  }
}
.features-swiper .screenshot-frame {
  position: absolute;
  width: 100%;
}
.features-swiper .swiper-container {
  width: 240px;
}
.features-swiper .swiper-wrapper {
  padding-top: 71px;
  padding-bottom: 123px;
}
.features-swiper .swiper-slide img {
  width: 100%;
}
/******************** APP FEATURES 3 ********************/
.app-features-5 .media-chained {
  padding-top: 15px;
}
.app-features-5 .media-chained + .media-chained {
  padding-top: 45px;
}
.app-features-5 .img-responsive {
  width: 100%;
  max-width: 470px;
}
/******************** SMALL FEATURES ********************/
.small-features {
  padding: 100px 0 43px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.small-features .icon svg {
  vertical-align: top;
}
.small-features .title-text {
  margin-bottom: 8px;
}
.small-features p:last-child {
  margin-bottom: 0;
}
/******************** E-LEARNING ********************/
.elearning-features .icon {
  margin-bottom: 28px;
}
/******************** RESTAURANT FEATURES ********************/
.feature-style-half-content .feature-item {
  padding-bottom: 40px;
  padding-top: 40px;
}
@media (min-width: 992px) {
  .feature-style-half-content .feature-item {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .feature-style-half-content:last-child .feature-item {
    padding-bottom: 0;
  }
  .feature-style-half-content .cover-bg {
    position: relative;
    width: 100%;
    height: 300px;
  }
}
.feature-style-half-content .icon {
  margin-bottom: 32px;
}
.feature-style-half-content .title-text {
  margin-bottom: 25px;
}
.feature-style-half-content p:last-child {
  margin-bottom: 0;
}
/******************** RESTAURANT FEATURES ********************/
.restaurant-features-2 .delivery-time {
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 14px;
}
/******************** PHOTOGRAPHY FEATURES ********************/
.photography-features .img-hover-content .overlay-content {
  bottom: calc(-100% + 100px);
}
.photography-features .img-hover-content .img-intro {
  height: 100px;
}
.photography-features .img-hover-content .img-desc {
  padding: 22px;
}
.photography-features .img-hover-content .title-text {
  margin-bottom: 0;
  color: #fff;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .photography-features .img-hover-content .overlay-content {
    bottom: calc(-100% + 50px);
  }
  .photography-features .img-hover-content .img-intro {
    height: 50px;
  }
  .photography-features .img-hover-content .title-text {
    font-size: 18px;
  }
  .photography-features .img-hover-content .img-desc {
    padding: 10px;
  }
  .photography-features .img-hover-content p {
    line-height: 21px;
    margin-bottom: 15px;
  }
  .photography-features .img-hover-content .btn-md {
    padding: 5px 20px;
    font-size: 17px;
  }
}
@media (min-width: 480px) and (max-width: 991px) {
  .photography-features [class^="col-"],
  .photography-features [class*="col-"] {
    padding-left: 60px;
    padding-right: 60px;
  }
}
/*
|----------------------------------------------------------------------------
| DESCRIPTIONS
|----------------------------------------------------------------------------
*/
.app-description-1 ul .icon svg,
.app-description-2 ul .icon svg {
  vertical-align: middle;
}
.app-description-1 .list-inline,
.app-description-2 .list-inline,
.app-description-1 .list-block,
.app-description-2 .list-block {
  margin-top: 25px;
}
.list-inline li,
.list-block li {
  padding-top: 10px;
  padding-left: 0;
  padding-right: 20px;
}
.list-inline .icon svg,
.list-block .icon svg {
  width: 17px;
  height: 17px;
  margin-right: 8px;
}
/******************** APP DESCRIPTION 1 ********************/
.app-description-1 .img-responsive {
  width: 100%;
  max-width: 504px;
}
/******************** APP DESCRIPTION 2 ********************/
.app-description-2 .img-responsive {
  width: 100%;
  max-width: 465px;
}
@media (min-width: 992px) {
  .app-description-2 {
    text-align: left;
  }
  .app-description-2 .section-heading {
    margin-top: 50px;
    text-align: left;
  }
  .app-description-2 .lines {
    margin-left: 34px;
    margin-right: auto;
  }
}
@media (max-width: 991px) {
  .app-description-2 .img-responsive {
    margin-left: auto;
    margin-right: auto;
  }
}
/******************** APP DESCRIPTION 3 ********************/
.app-description-3 {
  color: #fff;
}
@media (max-width: 991px) {
  .app-description-3 .container-half {
    width: 100%;
  }
  .app-description-3 .container-half.cover-bg {
    position: relative;
    width: 100%;
    height: 460px;
    z-index: 1;
  }
}
.app-description-3 a {
  color: #fff;
  text-decoration: none;
}
.app-description-3 a:hover .icon svg {
  fill: #fff;
}
/******************** BOOK DESCRIPTION  ********************/
.book-description {
  text-align: center;
}
.book-description .text-strong li {
  margin-right: 15px;
  display: inline-block;
}
@media (min-width: 992px) {
  .book-description {
    text-align: left;
  }
}
@media (max-width: 991px) {
  .book-description .lines {
    margin-left: auto;
    margin-right: auto;
  }
}
/******************** COURCE DESCRIPTION ********************/
.course-description .swiper-wrapper {
  padding-bottom: 60px;
}
.desc-pic-header {
  border-radius: 4px;
  text-align: center;
}
.desc-pic-header .desc-body {
  padding: 25px 45px 35px;
}
.desc-pic-header .btn {
  margin-top: 15px;
}
.desc-title {
  position: relative;
  border-radius: 4px 4px 0 0;
  height: 155px;
  overflow: hidden;
}
.desc-title .title-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 10px;
}
.desc-title .bg-thumb {
  width: 100%;
}
.desc-title .title-text {
  position: relative;
  z-index: 1;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 0;
}
.desc-title .icon svg {
  fill: #fff;
  position: relative;
  z-index: 1;
}
/******************** EVENT SCHEDULE 1 ********************/
.schedule .tab-btn {
  text-align: center;
}
.schedule-content {
  padding-top: 60px;
}
.tab-btn li {
  display: inline-block;
}
.tab-btn li + li {
  margin-left: 10px;
}
.tab-btn li a {
  color: #272727;
  padding: 8px 35px;
  border-radius: 30px;
  display: block;
  font-weight: 500;
  text-decoration: none;
}
.tab-btn li.active a {
  color: #fff;
}
.objective-time {
  margin-top: 45px;
  font-size: 50px;
  font-weight: 500;
}
.objective-time sup {
  font-weight: 300;
  font-size: 70%;
}
.objective {
  padding: 25px 30px;
  border-radius: 4px;
}
.objective .category li {
  margin-bottom: 12px;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 25px;
  font-weight: 500;
}
.objective .category .icon svg {
  width: 18px;
  height: 18px;
  vertical-align: top;
  margin-right: 3px;
}
.objective .title-text {
  margin-bottom: 15px;
}
.objective p:last-child {
  margin-bottom: 0;
}
.white-bg .tab-btn li a {
  background-color: #f7f7f7;
}
.secondary-bg .tab-btn li a {
  background-color: #fff;
}
/******************** EVENT SCHEDULE 2 ********************/
.post-meta li {
  display: inline-block;
  margin-right: 20px;
  font-weight: 500;
  color: #272727;
}
/******************** ABOUT US  ********************/
.about-conference {
  padding-top: 125px;
  padding-bottom: 55px;
  text-align: center;
}
@media (min-width: 992px) {
  .about-conference {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .about-conference .section-heading {
    margin-top: 50px;
  }
}
@media (max-width: 991px) {
  .about-conference .lines {
    margin-left: auto;
    margin-right: auto;
  }
}
/******************** RESTAURANT DESCRIPTION 1 ********************/
.resraurant-description-1 {
  text-align: center;
}
.resraurant-description-1 .container {
  padding-top: 138px;
  padding-bottom: 150px;
}
.resraurant-description-1 .title-text {
  margin-bottom: 18px;
}
.resraurant-description-1 .list-block {
  margin-bottom: 45px;
}
@media (min-width: 992px) {
  .resraurant-description-1 {
    text-align: left;
  }
}
@media (max-width: 991px) {
  .resraurant-description-1 .cover-bg {
    position: relative;
    width: 100% !important;
    height: 450px;
  }
}
/*
|----------------------------------------------------------------------------
| PRICING TABLE
|----------------------------------------------------------------------------
*/
.pricing-table-1.image-bg {
  background: linear-gradient(rgba(247, 247, 247, 0.9), rgba(247, 247, 247, 0.85)), url(../images/pricing-1-bg.jpg) no-repeat center center;
  background-size: cover;
}
@media (min-width: 992px) {
  .pricing-table-1 .alpha {
    padding-right: 0;
  }
  .pricing-table-1 .alpha .pricing-element {
    border-radius: 4px 0 0 4px;
  }
  .pricing-table-1 .omega {
    padding-left: 0;
  }
  .pricing-table-1 .omega .pricing-element {
    border-radius: 0 4px 4px 0;
  }
  .pricing-table-1 .pricing-element {
    position: relative;
    top: 15px;
  }
  .pricing-table-1 .featured {
    padding-left: 0;
    padding-right: 0;
  }
}
.pricing-table-1 .pricing-element {
  padding: 45px 30px;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
}
.pricing-table-1 .package {
  font-size: 19px;
  color: #b4b4b4;
  margin-top: 12px;
  font-weight: 500;
  margin-bottom: 55px;
  text-transform: uppercase;
}
.pricing-table-1 .price {
  display: inline-table;
  margin-bottom: 30px;
}
.pricing-table-1 .amount,
.pricing-table-1 .currency,
.pricing-table-1 .renew {
  display: table-cell;
}
.pricing-table-1 .currency {
  font-size: 1.56rem;
}
.pricing-table-1 .amount {
  font-size: 3.44rem;
  padding-left: 10px;
}
.pricing-table-1 .renew {
  font-size: 17px;
}
.pricing-table-1 .package-details li {
  line-height: 2.1;
  font-weight: 400;
}
.pricing-table-1 .featured .icon svg {
  fill: #fff;
}
.pricing-table-1 .featured .package {
  color: rgba(0, 0, 0, 0.4);
}
.pricing-table-1 .featured .price {
  color: #fff;
}
.pricing-table-1 .featured .pricing-element {
  padding-top: 65px;
  padding-bottom: 55px;
  top: 0;
  border-radius: 4px;
}
.pricing-table-1 .featured .package-details li {
  color: rgba(255, 255, 255, 0.9);
}
/******************** PRICING TABLE 2 ********************/
.pricing-table-2 .pricing-element {
  border-radius: 30px;
  padding: 25px;
  border: 2px solid transparent;
}
.pricing-table-2 .pricing-element .package {
  margin-top: 0;
}
.pricing-table-2 .pricing-element .price {
  display: inline-block;
  padding: 10px 25px;
  margin: 15px 0 20px;
  border-radius: 30px;
}
.pricing-table-2 .pricing-element .price p {
  margin-bottom: 0;
  line-height: 1;
}
.pricing-table-2 .pricing-element .price .amount {
  font-size: 50px;
  margin-bottom: 5px;
}
.pricing-table-2 .pricing-element .package-details li {
  line-height: 2.45;
}
.pricing-table-2 .pricing-element .package-details .icon svg {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
.pricing-table-2 .pricing-element .btn {
  margin: 30px 0 10px;
}
.pricing-table-2 .pricing-element.featured .price {
  color: rgba(255, 255, 255, 0.9);
}
.pricing-table-2 .pricing-element.featured .btn-trans {
  color: #fff;
  border-color: transparent;
}
/******************** SUBSCRIPTION PLAN AKA PRICING TABLE 3 ********************/
.pricing-element-3 {
  padding: 27px;
  border-radius: 4px;
  text-align: center;
}
.pricing-element-3.pricing-element-border {
  border: 1px solid #efefef;
}
.pricing-element-3.featured .package {
  color: #fff;
}
.pricing-element-3.featured .price {
  color: #fff;
}
.pricing-element-3.featured h5 {
  color: rgba(0, 0, 0, 0.55);
}
.pricing-element-3.featured .package-details {
  color: rgba(255, 255, 255, 0.9);
}
.pricing-element-3.featured a {
  color: #fff;
}
.pricing-element-3.featured a .icon svg {
  fill: #fff;
}
.pricing-element-3 .package {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.pricing-element-3 .price {
  display: inline-table;
  margin-top: 30px;
  margin-bottom: 30px;
}
.pricing-element-3 .currency,
.pricing-element-3 .amount {
  display: table-cell;
}
.pricing-element-3 .currency {
  font-size: 1.56rem;
  line-height: 0.15;
  vertical-align: top;
}
.pricing-element-3 .amount {
  font-size: 60px;
  padding-left: 10px;
}
.pricing-element-3 .title-text {
  margin-bottom: 25px;
}
.pricing-element-3 .package-details {
  margin-bottom: 20px;
}
.pricing-element-3 .package-details li {
  line-height: 30px;
}
/******************** PRICING TABLE 4 ********************/
.pricing-table-4 .package {
  color: #272727;
  font-weight: 500;
}
/*
|----------------------------------------------------------------------------
| THE VIDEO 
|----------------------------------------------------------------------------
*/
.video-player {
  position: relative;
  line-height: 0;
}
.video-player video {
  width: 100%;
}
.video-player .btn {
  width: 230px;
  height: 60px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  transition: all 0.6s;
}
.video-player .btn .icon svg {
  fill: #fff;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.video-player .btn span {
  transition: all 0.4s;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}
.video-player .btn span.active {
  opacity: 1;
}
.video-features {
  padding: 35px;
  border-radius: 4px;
}
.video-features h4 {
  margin-top: 0;
  margin-bottom: 13px;
}
.video-features p {
  margin-bottom: 0;
}
.video-features .media-left {
  vertical-align: middle;
}
.video-features .icon svg {
  width: 40px;
  height: 40px;
  margin-top: -5px;
}
/******************** THE VIDEO 2 ********************/
.the-video-2 {
  padding: 175px 0;
  position: relative;
}
.the-video-2 .heading-text,
.the-video-2 p {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s;
}
.the-video-2.playing .heading-text,
.the-video-2.playing p {
  opacity: 0;
  visibility: hidden;
}
.the-video-2 button:active,
.the-video-2 button:focus {
  outline: none;
}
.the-video-2 button {
  margin: 50px 0 30px;
}
.the-video-2 .icon svg {
  width: 100px;
  height: 100px;
}
.the-video-2 p:last-child {
  margin-bottom: 0;
}
/*
|----------------------------------------------------------------------------
| SCREENSHOTS
|----------------------------------------------------------------------------
*/
.screenshots-1 {
  padding-top: 120px;
  padding-bottom: 107px;
}
.screenshot-slides .swiper-wrapper {
  padding-bottom: 70px;
}
.screenshot-slides .swiper-slide img {
  width: 100%;
}
.screenshot-slides .swiper-slide-active {
  margin-right: 20px;
}
.screenshot-slides .swiper-slide-active img {
  opacity: 1 !important;
  transition: all 0.4s;
}
.screenshot-slides .screenshot-frame {
  display: none;
}
@media (min-width: 768px) {
  .screenshot-slides .screenshot-frame {
    width: 272px;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 2;
    display: block;
  }
  .screenshot-slides .swiper-wrapper {
    padding-top: 69px;
    padding-bottom: 113px;
  }
  .screenshot-slides .swiper-slide img {
    opacity: 0.7;
  }
}
@media (min-width: 992px) {
  .screenshot-slides .screenshot-frame {
    width: 208px;
  }
  .screenshot-slides .swiper-wrapper {
    padding-top: 53px;
    padding-bottom: 113px;
  }
}
@media (min-width: 1200px) {
  .screenshot-slides .screenshot-frame {
    width: 252px;
  }
  .screenshot-slides .swiper-wrapper {
    padding-top: 63px;
    padding-bottom: 113px;
  }
}
/******************** SCREENSHOTS 2 ********************/
.screenshots-2 img {
  border: 3px solid #efefef;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.screenshots-2 .screen-title {
  margin-top: 30px;
  margin-bottom: 0;
}
.screenshots-2 .screen-no {
  display: inline-block;
  margin-right: 3px;
  width: 23px;
  height: 23px;
  line-height: 23px;
  border-radius: 100%;
  text-align: center;
}
@media (min-width: 400px) and (max-width: 767px) {
  .screenshots-2 .lightbox {
    display: block;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*
|----------------------------------------------------------------------------
| TESTIMONIAL SECTION
|----------------------------------------------------------------------------
*/
.testimonials .client-name {
  display: block;
  font-size: 20px;
  font-weight: 500;
}
.testimonials .position {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
}
.testimonials-3 blockquote:before,
.testimonials-4 blockquote:before {
  content: '"';
}
.testimonials-3 blockquote:after,
.testimonials-4 blockquote:after {
  content: '"';
}
/******************** TESTIMONIALS 1 ********************/
.testimonials-1 {
  padding-top: 125px;
  padding-bottom: 7px;
  color: #fff;
}
.testimonials-1.dark-image-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/testimonials-1.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.testimonials-1.image-bg {
  background: url(../images/testimonials-1.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.testimonials-1 .testimonials-content {
  margin-top: 65px;
}
.testimonials-1 blockquote {
  border: none;
  font-style: italic;
  font-size: 18px;
  line-height: 35px;
  padding-top: 0;
  padding-bottom: 15px;
}
@media (min-width: 992px) {
  .testimonials-1 blockquote {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.testimonials-1 .testimonials-thumb {
  width: 50%;
  margin: 10px auto 0;
}
.testimonials-1 .testimonials-thumb .swiper-slide {
  cursor: pointer;
}
.testimonials-1 .testimonials-thumb .swiper-slide img {
  width: 100%;
  border-radius: 4px;
  opacity: 0.8;
  transition: all 0.4s;
}
.testimonials-1 .testimonials-thumb .swiper-slide .item {
  margin: 14px 7px;
  position: relative;
  top: 7px;
}
.testimonials-1 .testimonials-thumb .active img {
  opacity: 1;
  border-radius: 0;
}
.testimonials-1 .testimonials-thumb .active .item {
  top: 0;
  margin-left: 0;
  margin-right: 0;
}
.testimonials-1 .client-logo {
  margin-top: 75px;
}
.client-logo li {
  margin-bottom: 30px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
/******************** TESTIMONIALS 2 ********************/
.testimonials-2.image-bg {
  background: url(../images/testimonials-2.jpg) no-repeat center top;
  background-size: cover;
}
.testimonials-2.dark-image-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/testimonials-2.jpg) no-repeat center top;
  background-size: cover;
}
.testimonials-2.transparent-overlay .client-name {
  color: #fff;
}
.testimonials-2 .thumb {
  width: 100px;
  border-radius: 10px;
}
.testimonials-2 blockquote {
  border: none;
  font-style: italic;
  font-size: 18px;
  line-height: 35px;
  padding-top: 0;
  padding-bottom: 15px;
}
@media (min-width: 992px) {
  .testimonials-2 blockquote {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.testimonials-2 .media {
  display: inline-table;
  margin: auto;
}
.testimonials-2 .media .icon {
  margin-top: 5px;
}
.testimonials-2 .media img {
  margin-top: 5px;
  height: 30px;
  width: auto;
}
.testimonials-2 .media-left {
  padding-right: 15px;
}
.testimonials-2 .media-body {
  width: auto;
  text-align: left;
}
/******************** TESTIMONIALS 3 ********************/
.testimonials-3 .item {
  border-radius: 4px;
  padding: 20px 25px 25px;
  border: 1px solid #efefef;
}
.testimonials-3 blockquote {
  font-style: italic;
}
.testimonials-3 hr {
  border-top: 2px solid #efefef;
}
.testimonials-3 .media-left {
  padding-right: 15px;
}
.testimonials-3 .thumb {
  width: 60px;
  border-radius: 4px;
}
.testimonials-3 .client-name {
  font-size: 16px;
  margin-bottom: 0;
  line-height: 1;
  margin-bottom: 5px;
}
.testimonials-3 .position {
  text-transform: uppercase;
  color: #272727;
  margin-bottom: 0;
  line-height: 1.3;
}
.star li {
  display: inline-block;
}
.star .icon svg {
  width: 14px;
  height: 14px;
}
/******************** TESTIMONIAL 4 ********************/
.testimonials-4 .testimonial-item {
  position: relative;
  padding: 75px 30px 15px;
  border-radius: 4px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #efefef;
}
.testimonials-4 .thumb {
  padding: 2px;
  border-radius: 100%;
  height: 96px;
  width: 96px;
  position: absolute;
  top: -48px;
  left: 50%;
  z-index: 999;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 3px solid #fff;
}
.testimonials-4 .client-name {
  margin-top: 27px;
  margin-bottom: 0;
}
.testimonials-4 .position {
  color: #272727;
}
/******************** TESTIMONIALS 5 ********************/
.testimonials-5 {
  padding-top: 200px;
  padding-bottom: 200px;
}
.testimonials-5.image-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/photography-bg-2.jpg);
  background-position: center center;
  background-size: cover;
}
@media (min-width: 992px) {
  .testimonials-5 .blockquote-gradient-bg {
    margin-right: 30px;
  }
}
.blockquote-gradient-bg {
  color: rgba(255, 255, 255, 0.9);
  padding: 22px;
  border-radius: 4px;
}
.blockquote-gradient-bg blockquote {
  font-size: 19px;
  line-height: 30px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
}
.blockquote-gradient-bg p.client-name {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0;
}
.blockquote-gradient-bg .icon svg {
  fill: #fff;
  margin-right: 5px;
}
/*
|----------------------------------------------------------------------------
| DOWNLOADS
|----------------------------------------------------------------------------
*/
/******************** DOWNLAD 1 ********************/
.download-app-3 {
  padding-top: 125px;
  padding-bottom: 75px;
}
.logo-in-bg {
  display: inline-block;
  position: relative;
  height: 90px;
  width: 90px;
  border-radius: 30px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 46px;
}
.logo-in-bg img {
  position: absolute;
  bottom: -5px;
  right: -5px;
}
.logo-in-bg .icon svg {
  width: 50px;
  height: 90px;
}
.subscribe-newsletter {
  margin-top: 90px;
}
/******************** DOWNLAOD 2 ********************/
@media (min-width: 768px) {
  .download-app-2 .item {
    padding-left: 55px;
    padding-right: 55px;
  }
  .download-app-2 .item:last-child {
    border-color: transparent;
  }
}
@media (min-width: 992px) {
  .download-app-2 .item {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
  }
}
.download-app-2 .icon svg {
  fill: #272727;
  margin-bottom: 20px;
}
.download-app-2 .btn {
  margin-top: 25px;
}
/******************** DOWNLAOD APP 3 ********************/
.download-app-3.image-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/testimonials-1.jpg) no-repeat center bottom;
  background-size: cover;
}
/*
|----------------------------------------------------------------------------
| GALLERY STYLE
|----------------------------------------------------------------------------
*/
[class*="gallery-"],
[class^="gallery-"] {
  font-size: 0;
}
[class*="gallery-"] .gallery-item,
[class^="gallery-"] .gallery-item {
  float: left;
}
.gallery-1 {
  margin-left: -10px;
  margin-right: -10px;
}
.gallery-1 .gallery-item {
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.gallery-2 .gallery-col-2 .gallery-item {
  padding: 0 !important;
}
.gallery-col-4 .gallery-item {
  width: 100%;
}
@media (min-width: 480px) {
  .gallery-col-4 .gallery-item {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .gallery-col-4 .gallery-item {
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .gallery-col-4 .gallery-item {
    width: 25%;
  }
}
.gallery-col-3 .gallery-item {
  width: 100%;
}
@media (min-width: 480px) {
  .gallery-col-3 .gallery-item {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .gallery-col-3 .gallery-item {
    width: 33.33333333%;
  }
}
.gallery-col-2 .gallery-item {
  width: 50%;
}
.gallery-img-pop {
  position: relative;
  display: block;
}
.gallery-img-pop:hover .hover-effect {
  top: 0;
}
.gallery-img-pop:hover .plus-sign:before,
.gallery-img-pop:hover .plus-sign:after {
  opacity: 1;
  transition-delay: 0.3s;
}
.gallery-img-pop:hover .plus-sign:before {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.gallery-img-pop:hover .plus-sign:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}
.gallery-img-pop img {
  width: 100%;
}
.gallery-img-pop .hover-effect {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.plus-sign:before,
.plus-sign:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-top: 4px solid #fff;
  width: 40%;
  transition: all 0.3s;
  opacity: 0;
}
.plus-sign:before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}
.plus-sign:after {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/******************** RECAP PHOTO GALLERY ********************/
.recap-gallery {
  padding-top: 120px;
}
.recap-gallery.image-bg {
  background: url(../images/event-bg-1.jpg) center center;
  background-size: cover;
}
.recap-gallery.dark-image-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/event-bg-1.jpg) center center;
  background-size: cover;
}
.recap-gallery-item {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
.recap-gallery-item:hover img {
  opacity: 1;
}
.recap-gallery-item .img-scale {
  max-height: 449px;
}
.recap-gallery-item img {
  transition: all 0.3s;
  opacity: 0.7;
  width: 100%;
}
.recap-gallery-item .recap-title {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 25px;
}
.recap-gallery-item .title-text {
  color: #fff;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .recap-gallery-item {
    float: left;
    width: 33.33333333%;
    margin-bottom: 0;
  }
}
/*
|----------------------------------------------------------------------------
| OTHERS
|----------------------------------------------------------------------------
*/
.faqs-2-items .title-text {
  margin-bottom: 15px;
}
.faqs-2-items p:last-child {
  margin-bottom: 0;
}
.faqs-2-items .mb50 {
  margin-bottom: 60px;
}
/*
|----------------------------------------------------------------------------
| OTHER MISC SECTIONS
|----------------------------------------------------------------------------
*/
#photography-portfolio .mix {
  display: none;
}
.filter-buttons {
  text-align: center;
  margin-bottom: 30px;
}
.filter-buttons li {
  display: inline-block;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
.filter-buttons li:after {
  content: "·";
  font-size: 50px;
  position: absolute;
  right: -8px;
  top: 5px;
}
.filter-buttons li:last-child:after {
  content: "";
}
.filter-buttons .filter {
  color: #272727;
  font-weight: 500;
  font-size: 19px;
}
/******************** ABOUT AUTHORS ********************/
.about-authors .author-thumb {
  width: 215px;
  height: 215px;
}
.about-authors figcaption {
  margin-top: 32px;
  margin-bottom: 25px;
}
.about-authors .author-name {
  margin-bottom: 5px;
}
.about-authors .autograph {
  margin-top: 15px;
}
.about-authors .thumbnail-circle {
  padding: 4px;
}
.about-authors.white-bg .thumbnail-circle {
  background-color: #f7f7f7;
}
.about-authors.secondary-bg .thumbnail-circle {
  background-color: #fff;
}
.thumbnail-circle {
  border-radius: 100%;
}
/******************** COURSE INSTRUCTORS ********************/
.intro-vio .title-text {
  margin-top: 32px;
  margin-bottom: 5px;
}
.intro-vio .img-responsive {
  margin-left: auto;
  margin-right: auto;
}
.intro-vio p {
  margin-bottom: 0px;
}
/******************** SPEAKERS 1 ********************/
.speakers-1 {
  padding-top: 120px;
  padding-bottom: 100px;
}
.speakers-1 .hero-tabs {
  position: relative;
}
@media (min-width: 400px) and (max-width: 767px) {
  .speakers-1 .hero-tabs li {
    max-width: 380px;
    margin-left: 0;
    margin-right: auto;
  }
}
.speakers-1 .hero-tabs li.active .speaker-intro:after {
  visibility: visible;
}
@media (min-width: 768px) {
  .speakers-1 .hero-tabs li:nth-child(2) .speakers-bio {
    left: -375px;
  }
  .speakers-1 .hero-tabs li:nth-child(4) .speakers-bio {
    left: -375px;
  }
}
@media (min-width: 992px) {
  .speakers-1 .hero-tabs li:nth-child(2) .speakers-bio {
    left: -242px;
  }
  .speakers-1 .hero-tabs li:nth-child(3) .speakers-bio {
    left: -484px;
  }
  .speakers-1 .hero-tabs li:nth-child(4) .speakers-bio {
    left: -726px;
  }
}
@media (min-width: 1200px) {
  .speakers-1 .hero-tabs li:nth-child(2) .speakers-bio {
    left: -292px;
  }
  .speakers-1 .hero-tabs li:nth-child(3) .speakers-bio {
    left: -584px;
  }
  .speakers-1 .hero-tabs li:nth-child(4) .speakers-bio {
    left: -876px;
  }
}
.speakers-1 .speaker-intro {
  border-radius: 30px;
  margin-bottom: 25px;
  cursor: pointer;
  position: relative;
}
.speakers-1 .speaker-intro:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -79px;
  border: solid transparent;
  border-width: 27px 18px;
  border-top-color: #f7f7f7;
  z-index: 2;
  visibility: hidden;
}
.speakers-1 .speaker-intro .img-scale {
  max-height: 257px;
}
.speakers-1 .speaker-intro .thumb {
  border-radius: 30px 30px 0 0;
  width: 100%;
}
.speakers-1 .speaker-intro figcaption {
  text-align: center;
  padding: 10px 10px 15px;
  position: relative;
}
.speakers-1 .speaker-intro .icon-collapsed {
  position: absolute;
  top: -43px;
  right: 0;
  padding: 5px;
  height: 40px;
  width: 40px;
}
.speakers-1 .speaker-intro .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}
.speakers-1 .speaker-intro .icon svg {
  fill: #fff;
  height: 32px;
  width: 32px;
}
.speakers-1 .speaker-intro .icon.active {
  opacity: 1;
  visibility: visible;
}
.speakers-1 .speaker-name {
  margin-bottom: 3px;
}
.speakers-1 .position {
  font-size: 14px;
  margin-bottom: 0;
}
.speakers-1 .speakers-bio {
  padding: 50px 65px 25px;
  margin-bottom: 25px;
  border-radius: 4px;
  display: none;
  position: relative;
  z-index: 1;
}
.speakers-1 .speakers-bio.active {
  display: block;
}
.speakers-1 .speakers-bio .strong {
  font-size: 17px;
  font-weight: 500;
  color: #272727;
  margin-bottom: 15px;
}
/******************** SPEAKERS 2 ********************/
.speakers-2 .img-hover-content {
  border-radius: 30px 30px 0 0;
}
.speakers-2 .img-hover-content .overlay-content {
  bottom: calc(-100% + 76px);
}
.speakers-2 .img-hover-content .img-intro {
  height: 76px;
}
.img-hover-content {
  position: relative;
  overflow: hidden;
}
.img-hover-content:hover .overlay-content {
  bottom: 0;
}
.img-hover-content img {
  min-width: 100%;
}
.img-hover-content .overlay-content {
  position: absolute;
  left: 0;
  transition: all 0.4s;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.9);
}
.img-hover-content .img-intro {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.img-hover-content .speaker-name {
  margin-bottom: 0;
  font-size: 19px;
  font-weight: 500;
}
.img-hover-content .speaker-position {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.5;
}
.img-hover-content .btn {
  color: #fff;
}
.img-hover-content .btn-trans {
  border-color: #fff;
}
.img-hover-content .btn-trans:hover {
  background: #fff;
  border-color: #fff;
}
.img-hover-content .img-desc {
  padding: 22px 20px;
}
.img-hover-content .social-profiles li {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}
.img-hover-content .social-profiles a:hover .icon svg {
  fill: #fff;
}
.img-hover-content .icon svg {
  fill: #fff;
}
/******************** JOIN US ********************/
.join-us {
  padding-top: 120px;
  padding-bottom: 110px;
  color:#fff;
}
.join-us .heading-text {
  color: #fff;
}
.join-us.image-bg {
  background: url(../images/join-us.jpg);
  background-size: cover;
}
.join-us.dark-image-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/join-us.jpg);
  background-size: cover;
}
.join-us .sub-heading {
  margin-top: 25px;
  margin-bottom: 75px;
}
/******************** SPONSORS ********************/
.sponsors-1 {
  padding-top: 95px;
  padding-bottom: 100px;
}
.sponsors-1 .client-logo {
  margin-bottom: 16px;
}
.sponsors-1 .client-logo img {
  opacity: 0.4;
}
/******************** SPONSORS 2 ********************/
.sponsors-2.image-bg {
  background: url(../images/event-bg-1.jpg) center top;
  background-size: cover;
}
.sponsors-2.dark-image-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/event-bg-1.jpg) center top;
  background-size: cover;
}
.sponsors-2 .client-logo {
  margin-top: 30px;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .sponsors-2 .client-logo li + li {
    margin-left: 30px;
  }
  .sponsors-2 .client-logo img {
    max-width: 129px;
  }
}
/******************** RESTAURANT MENU ********************/
@media (max-width: 991px) {
  .resraurant-order .container-half {
    display: none;
  }
}
.restaurant-menu {
  border-radius: 4px;
  padding: 25px;
}
.restaurant-menu .title-text {
  border-bottom: 2px dashed #efefef;
  padding-bottom: 9px;
}
.restaurant-menu ul {
  margin-top: 30px;
}
.restaurant-menu ul li {
  border-bottom: 1px solid  #efefef;
  padding-bottom: 10px;
  margin-bottom: 14px;
}
.restaurant-menu ul li:last-child {
  margin-bottom: 0;
}
/******************** RESTAURANT RESERVATION / ORDER ********************/
.resraurant-order .order-list {
  margin-bottom: 20px;
}
.resraurant-order .radio {
  margin-top: 0;
  margin-bottom: 0;
}
/*
|----------------------------------------------------------------------------
| NEMO PANELS
|----------------------------------------------------------------------------
*/
.panel .title-text {
  margin-bottom: 0;
  line-height: 1;
}
.panel p:last-child {
  margin-bottom: 0;
}
.panel-faqs .panel {
  box-shadow: none;
  border: none;
  background-color: transparent;
  overflow: hidden;
}
.panel-faqs .panel-heading {
  padding: 0;
}
.panel-faqs .panel-body {
  margin-top: 2px;
  border: none !important;
}
.panel-faqs .title-text a {
  display: block;
  position: relative;
}
.panel-faqs .title-text .collapsed {
  color: #272727;
}
.panel-group-lg {
  margin-bottom: 0;
}
.panel-group-lg .panel {
  border-radius: 4px;
}
.panel-group-lg .panel + .panel {
  margin-top: 25px;
}
.panel-group-lg .panel .title-text a {
  padding: 18px 30px;
}
.panel-group-lg .panel .panel-body {
  padding: 18px 30px;
}
.panel-group-sm {
  margin-bottom: 0;
}
.panel-group-sm .panel {
  border-radius: 2px;
}
.panel-group-sm .panel + .panel {
  margin-top: 20px;
}
.panel-group-sm .panel .title-text a {
  padding: 15px 20px;
}
.panel-group-sm .panel .panel-body {
  padding: 15px 20px;
}
/******************** NEMO PANEL 1 ********************/
.panel-nemo-1 {
  padding-top: 60px;
  padding-bottom: 20px;
}
.panel-nemo-1 .panel {
  background-color: transparent;
  box-shadow: none;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 20px;
  border-radius: 0;
}
.panel-nemo-1 .panel + .panel {
  margin-top: 0;
}
.panel-nemo-1 .panel-title {
  display: inline-block;
  font-size: 22px;
}
.panel-nemo-1 .icon svg {
  fill: #fff;
  width: 40px;
  height: 40px;
  padding-right: 10px;
}
.panel-nemo-1 .panel-body {
  padding-top: 5px;
  padding-bottom: 0;
  padding-left: 47px;
}
/******************** PANEL SCHEDULE ********************/
.panel-schedule {
  box-shadow: none;
  margin-bottom: 30px;
  border: none;
  background-color: transparent;
}
.panel-schedule .panel-heading,
.panel-schedule .panel-body,
.panel-schedule .panel-footer {
  padding: 17px 30px;
}
.panel-schedule .schedule-time {
  font-weight: 500;
  position: relative;
  margin-right: 13px;
  padding-right: 15px;
}
.panel-schedule .schedule-time:after {
  content: '';
  position: absolute;
  top: 6px;
  right: 0;
  height: 25px;
}
.panel-schedule .schedule-time sup {
  font-size: 65%;
}
.panel-schedule .panel-footer {
  padding: 17px 30px;
}
.panel-schedule .panel-body,
.panel-schedule .panel-footer {
  margin-top: 2px;
}
.panel-schedule .panel-footer {
  border: none;
}
/*
|----------------------------------------------------------------------------
| CONTAINER HALF CONTENT
|----------------------------------------------------------------------------
*/
.content-half {
  position: relative;
}
.container-half {
  position: absolute;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  width: 50%;
}
.container-half.pr30 {
  width: calc(50% - 30px);
}
.container-half-left {
  left: 0;
  background-position: top right;
}
.container-half-right {
  right: 0;
  background-position: top left;
}
/*
|----------------------------------------------------------------------------
| POST STYLE
|----------------------------------------------------------------------------
*/
.post-preview {
  border-radius: 4px;
}
.post-preview .media-left {
  padding-right: 0;
  position: relative;
}
.post-preview .post-type {
  position: absolute;
  top: 40px;
  left: 0;
  padding: 5px 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0 4px 4px 0;
}
.post-preview .media-body {
  padding: 25px;
  vertical-align: middle;
}
.post-preview .category {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 3px;
  line-height: 1.5;
}
.post-preview .title-text {
  margin-bottom: 10px;
}
@media (min-width: 580px) {
  .post-preview .thumb {
    max-width: 260px;
  }
}
@media (max-width: 579px) {
  .post-preview {
    display: block;
  }
  .post-preview .media-left,
  .post-preview .media-body {
    display: block;
    width: auto;
  }
  .post-preview .thumb {
    width: 100%;
  }
}
/*
|----------------------------------------------------------------------------
| CONTACT US
|----------------------------------------------------------------------------
*/
/******************** CONTACT US -1 ********************/
.contact-us-1 {
  padding-top: 125px;
  padding-bottom: 350px;
}
.contact-us-1.image-bg {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/photography-bg-3.jpg);
  background-size: cover;
  background-position: center top;
}
.contact-us-1 .form-inline-input {
  padding-left: 0;
  margin-left: -5px;
  font-weight: 500;
}
/******************** CONTACT US 2 ********************/
.contacts .section-heading {
  margin-bottom: 60px;
}
.contacts .btn {
  margin-top: 10px;
}
/*
|----------------------------------------------------------------------------
| FOOTER STYLES
|----------------------------------------------------------------------------
*/
.footers {
  background-color: #272727;
}
.footers .title-text {
  color: #fff;
}
.footers a:hover {
  color: #8f8f8f;
}
.footers .contact-help {
  font-size: 20px;
}
.footers .socialize li {
  display: inline-block;
  margin: 0 4px;
}
.footers .socialize .icon svg {
  fill: #8f8f8f;
  width: 25px;
  height: 25px;
}
.footers .copyright {
  margin-bottom: 0;
  color: #8f8f8f;
}
.footers .copyright a {
  color: #8f8f8f;
}
.footer-1 {
  padding-top: 75px;
  padding-bottom: 65px;
}
.footer-1 .socialize {
  margin-top: 25px;
  margin-bottom: 25px;
}
.footer-2 {
  padding-top: 50px;
  padding-bottom: 20px;
}
.footer-2 .copyright {
  margin-top: 5px;
}
@media (min-width: 768px) {
  .footer-2 .copyright {
    text-align: left;
  }
  .footer-2 .socialize {
    text-align: right;
  }
}
.footer-3 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-3 p {
  margin-bottom: 0;
}
.footer-4 {
  padding-top: 125px;
}
@media (max-width: 767px) {
  .footer-4 .table-behaviour {
    display: block;
  }
  .footer-4 .widget-get-in-touch {
    margin-bottom: 50px;
  }
}
.footer-5 {
  color: #616161;
}
.footer-5 .title-text {
  color: #272727;
}
.footer-5.white-bg {
  background-color: #fff;
}
.footer-5 .secondary-bg {
  background-color: #f7f7f7;
}
.footer-5 .gallery-1 li {
  width: 33.33333333%;
  margin: 0;
}
/*
|----------------------------------------------------------------------------
| WIDGETS
|----------------------------------------------------------------------------
*/
.widgets .inner-wids-section {
  margin-bottom: 40px;
}
.widgets .inner-wids-section:last-child {
  margin-bottom: 0;
}
.widgets .socialize li {
  margin: 0 1px;
}
.widget-get-in-touch p {
  margin-bottom: 0;
}
/******************** MODALS ********************/
.simple-success-msg .modal-body {
  padding: 80px;
}
.simple-success-msg p {
  margin-top: 30px;
  margin-bottom: 30px;
}
/*
|----------------------------------------------------------------------------
| COMING SOOON
|----------------------------------------------------------------------------
*/
.coming-soon {
  background: url(../images/coming-soon.jpg) no-repeat center center fixed;
  min-height: 100vh;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.coming-soon .sub-heading {
  line-height: 1.6;
  font-size: 18px;
  margin-top: 22px;
  margin-bottom: 55px;
}
.coming-soon .input-group {
  margin-top: 32px;
}
@media (max-width: 991px) {
  .coming-soon .app-icon {
    text-align: center;
  }
}
.coming-soon .app-icon .icon svg {
  width: 15px;
  height: 15px;
  fill: #272727;
}
.coming-soon .error-msg {
  margin-top: 15px;
  margin-bottom: 0;
  color: red;
}
.box-shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  margin-left: 20px;
  margin-right: 20px;
}
.coming-soon-1 .our-message {
  padding-top: 75px;
  padding-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .coming-soon-1 .our-message {
    padding-right: 80px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .coming-soon-1 .our-message {
    padding-left: 80px;
    padding-right: 80px;
  }
}
.triangle-bg {
  position: relative;
  padding-top: 57px;
  padding-bottom: 58px;
}
@media (max-width: 480px) {
  .triangle-bg {
    overflow: hidden;
  }
}
.triangle-bg svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: auto;
  height: 100%;
  z-index: 1;
}
.triangle-bg img {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}
/******************** COMING SOON 2 ********************/
.coming-soon-2 {
  position: relative;
  margin-top: 180px;
  margin-bottom: 30px;
  text-align: center;
}
.coming-soon-2 .heading-text {
  padding-top: 275px;
  margin-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
}
.coming-soon-2 .inner-content {
  padding: 20px 45px 35px 30px;
}
@media (min-width: 992px) {
  .coming-soon-2 .inner-content form {
    text-align: left;
  }
}
@media (max-width: 991px) {
  .coming-soon-2 .container-half-left {
    width: auto;
    height: 199px;
    right: 0;
  }
  .coming-soon-2 .container-half-right {
    width: auto;
    left: 0;
    top: 199px;
    height: 206px;
  }
}
@media (max-width: 480px) {
  .coming-soon-2 .container-half-right {
    height: 286px;
  }
}
.intro-video {
  position: absolute;
  left: 15px;
  right: 15px;
  top: -150px;
}
.launch-countdown {
  color: rgba(255, 255, 255, 0.95);
}
.launch-countdown h3 {
  color: rgba(255, 255, 255, 0.95);
  margin-bottom: 40px;
}
.launch-countdown li {
  display: inline-block;
  font-family: 'Hind', sans-serif;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}
.launch-countdown li span {
  font-size: 60px;
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
}
.launch-countdown li:after {
  content: "/";
  font-weight: 300;
  font-size: 60px;
  position: absolute;
  top: 0;
  right: -40px;
  color: rgba(255, 255, 255, 0.35);
}
.launch-countdown li:last-child:after {
  content: '';
}
@media (max-width: 480px) {
  .launch-countdown li {
    margin-left: 15px;
    margin-right: 15px;
  }
  .launch-countdown li span {
    font-size: 40px;
  }
  .launch-countdown li:after {
    font-size: 40px;
    right: -25px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .launch-countdown li span {
    font-size: 40px;
  }
  .launch-countdown li:after {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  .coming-soon-1 {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
.elearning-home {
    padding: 200px 0 100px 0;
}
.cover-bg{
	background-image: url(../images/home-bg.jpg);
}
.heading-text  {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.33;
}
@media (min-width: 768px) {
	.heading-text {
		font-size: 48px;
		line-height: 1.33;
		font-weight:900;
	}
}

.home .sub-heading {
    font-size: 26px;
	line-height: 1.6em;
}
.home-calc-form{
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}



.calc-form-wrap{
	position:relative;
	margin-bottom: 20px;
}

.calc-form-wrap-label{
	color:#333;
	position:absolute;
	top:10px;
	left:14px;
}

.form-control{
    height: 60px;
    font-size: 20px;	
}

.calc-form-wrap .form-control{
	color: #008cd2;
	font-size: 30px;
    padding-top: 41px;
    height: 80px;
	background: rgba(255, 255, 255, 0.8);
	padding-right:85px;
	    box-shadow: 0 0 15px #00000063;
}

.calc-form-wrap .form-control:focus {
    border-color: #008ed6;
	box-shadow: 0 0 15px rgba(255, 235, 59, 0.75);
}

.calc-form-wrap  input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #008cd2;
  opacity: 1; /* Firefox */
}

.calc-form-wrap  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #008cd2;
}

.calc-form-wrap  input::-ms-input-placeholder { /* Microsoft Edge */
color: #008cd2;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.input-send_currency{
	position:absolute;
	top: 1px;
    right: -8px;
	z-index:4;
	width: 49px;
}

.input-send_currency{
	color:#333;
}

.styled-currency-radio{
	position:relative;
}
.styled-currency-input{
	opacity:0;
}
.styled-currency-radio-label{
	padding:2px 4px 2px 4px;
	margin-bottom: 0;
	font-size:12px;
	line-height:13px;
	transition:0.3s;
	border:1px solid transparent;
	cursor:pointer;
	margin-left: -32px;
}

.styled-currency-radio-label img{
	width:10px;
	height:10px;
}
.styled-currency-input + label{
	border-radius:3px;
    color: #008cd2;
}
.styled-currency-input:checked + label{
	border:1px solid #008cd2;
	background: #fff;
}

/* .styled-currency-input:hover + label{
	border:1px solid #008cd2;
} */

.input-get_currency{
	position:absolute;
	top:43px;
    right: -8px;
	color:#333;
	padding: 4px 16px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 18px;
	font-weight: 700;
}

.calc-form-btn{
	margin:30px auto;
	font-size:20px;
	text-align:center;	
}

.calc-form-text{
	margin:30px auto;
	font-size:20px;
	text-align:center;
}

.call-to-action{
	padding:75px 0;
}

.btn-base {
	background-color: #009c06;
    background-image: linear-gradient(to bottom right,  #146db3, #009c06)!important;
	font-weight:900;
	letter-spacing:0.08em;
	transition:0.3s;
}

.btn-base:hover{
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.btn-base:after{
	content:none;
}

.section-welcome{
	padding:100px 0;
}

.feature-item-icon{
	width:100px;
	display:block;
	margin:0 auto 30px auto; 
}
.form-dark-bg {
    background-color: #a0d9ef;
    background-image: url(../images/home-bg.jpg);
    background-position: center bottom;
    padding: 30px;
    color: #fff;
    background-size: cover;
}

.form-dark-bg  h3{
	color:#fff;
}

.form-dark-bg .form-control {
    border-color: rgb(255, 255, 255);
}

.form-dark-bg ::-webkit-input-placeholder {
  font-weight: 300;
  color:#fff;
  opacity:0.8
}
.form-dark-bg :-moz-placeholder {
  /* Firefox 18- */
  font-weight: 300;
  color:#fff;
  opacity:0.8
}
.form-dark-bg ::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 300;
  color:#fff;
  opacity:0.8
}
.form-dark-bg :-ms-input-placeholder {
  font-weight: 300;
  color:#fff;
  opacity:0.8
}

.text-lead{
	color:#272727;
	margin:30px 0;
	font-size:1.5em;
	line-height:1.6em;
}

.home-send-get-wrap{
	position:relative;
}
.home-send-get-wrap:after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(255, 255, 255, 0);
}

.send-form-wrap .result .success-msg, .send-form-wrap .result .error-msg{
	position:relative;
}

.simple-success-msg .modal-body {
    padding: 30px;
}

.head-contacts{
	text-align:left;
    float: right;
    margin-bottom: -27px;
    padding: 10px 0;
}

.navbar-transparent .head-contacts a{
	color:#fff;
}

@media(max-width:767px){
	.head-contacts {
		text-align: left;
		float: right;
		margin-bottom: 0;
		padding: 0 0;
		MARGIN-TOP: 13PX;
		margin-right: 10px;
	}
	.navbar-transparent .head-contacts a{
		color:#008ed6;
	}
}

.home-calc-text-kurs{
	max-width:400px;
	padding:20px;
	border:2px dotted #fff;
	margin:0 auto 20px auto;
	text-align:center;
}

.widgets .inner-wids-section {
    margin-bottom: 20px;
}

.footer-4{
	    padding-top: 100px;
    padding-bottom: 30px;
    color: #c3c3c3;
}